---
http_interactions:
- request:
    method: post
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/batch
    body:
      encoding: UTF-8
      string: '{"BatchItemRequest":[{"bId":"bid1","operation":"create","Vendor":{"DisplayName":"Smith
        Family Store"}},{"bId":"bid2","operation":"delete","Invoice":{"Id":"129","SyncToken":"0"}},{"bId":"bid3","operation":"update","SalesReceipt":{"domain":"QBO","sparse":true,"Id":"11","SyncToken":"0","PrivateNote":"A
        private note."}},{"bId":"bid4","Query":"select * from SalesReceipt where TotalAmt
        > ''300.00''"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer <OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - 71390e91-67e6-2093-8c9a-6b827d12f80d
      Qbo-Version:
      - '1803.859'
      Service-Time:
      - total=1598, db=1050
    body:
      encoding: ASCII-8BIT
      string: '{"BatchItemResponse":[{"Vendor":{"Balance":0,"Vendor1099":false,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"66","SyncToken":"0","MetaData":{"CreateTime":"2018-04-08T14:17:33-07:00","LastUpdatedTime":"2018-04-08T14:17:33-07:00"},"DisplayName":"Smith
        Family Store","PrintOnCheckName":"Smith Family Store","Active":true},"bId":"bid1"},{"Invoice":{"domain":"QBO","status":"Deleted","Id":"129"},"bId":"bid2"},{"SalesReceipt":{"domain":"QBO","sparse":false,"Id":"11","SyncToken":"1","MetaData":{"CreateTime":"2018-03-09T14:59:48-08:00","LastUpdatedTime":"2018-04-08T14:17:34-07:00"},"CustomField":[{"DefinitionId":"1","Name":"Crew
        #","Type":"StringType"}],"DocNumber":"1003","TxnDate":"2018-03-07","CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"PrivateNote":"A private note.","Line":[{"Id":"1","LineNum":1,"Description":"Custom
        Design","Amount":337.50,"DetailType":"SalesItemLineDetail","SalesItemLineDetail":{"ItemRef":{"value":"4","name":"Design"},"UnitPrice":75,"Qty":4.5,"TaxCodeRef":{"value":"NON"}}},{"Amount":337.50,"DetailType":"SubTotalLineDetail","SubTotalLineDetail":{}}],"TxnTaxDetail":{"TotalTax":0},"CustomerRef":{"value":"6","name":"Dylan
        Sollfrank"},"CustomerMemo":{"value":"Thank you for your business and have
        a great day!"},"BillAddr":{"Id":"49","Line1":"Dylan Sollfrank","Lat":"INVALID","Long":"INVALID"},"TotalAmt":337.50,"ApplyTaxAfterDiscount":false,"PrintStatus":"NotSet","EmailStatus":"NotSet","Balance":0,"PaymentMethodRef":{"value":"2","name":"Check"},"PaymentRefNum":"10264","DepositToAccountRef":{"value":"35","name":"Checking"}},"bId":"bid3"},{"QueryResponse":{"SalesReceipt":[{"domain":"QBO","sparse":false,"Id":"11","SyncToken":"1","MetaData":{"CreateTime":"2018-03-09T14:59:48-08:00","LastUpdatedTime":"2018-04-08T14:17:34-07:00"},"CustomField":[{"DefinitionId":"1","Name":"Crew
        #","Type":"StringType"}],"DocNumber":"1003","TxnDate":"2018-03-07","CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"PrivateNote":"A private note.","Line":[{"Id":"1","LineNum":1,"Description":"Custom
        Design","Amount":337.50,"DetailType":"Sales[...]
