---
http_interactions:
- request:
    method: post
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/invoice
    body:
      encoding: UTF-8
      string: '{"Line":[{"Amount":100.0,"DetailType":"SalesItemLineDetail","SalesItemLineDetail":{"ItemRef":{"value":"1","name":"Services"}}}],"CustomerRef":{"value":"1"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer <OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - d86ab854-3481-ad7a-954e-d4404d15d30f
      Qbo-Version:
      - '1803.859'
      Service-Time:
      - total=1358, db=822
    body:
      encoding: ASCII-8BIT
      string: '{"Invoice":{"Deposit":0,"AllowIPNPayment":false,"AllowOnlinePayment":false,"AllowOnlineCreditCardPayment":false,"AllowOnlineACHPayment":false,"domain":"QBO","sparse":false,"Id":"145","SyncToken":"0","MetaData":{"CreateTime":"2018-04-08T14:17:10-07:00","LastUpdatedTime":"2018-04-08T14:17:10-07:00"},"CustomField":[{"DefinitionId":"1","Name":"Crew
        #","Type":"StringType"}],"DocNumber":"1038","TxnDate":"2018-04-08","CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"LinkedTxn":[],"Line":[{"Id":"1","LineNum":1,"Amount":100.00,"DetailType":"SalesItemLineDetail","SalesItemLineDetail":{"ItemRef":{"value":"1","name":"Services"},"TaxCodeRef":{"value":"NON"}}},{"Amount":100.00,"DetailType":"SubTotalLineDetail","SubTotalLineDetail":{}}],"TxnTaxDetail":{"TotalTax":0},"CustomerRef":{"value":"1","name":"Amy''s
        Bird Sanctuary"},"BillAddr":{"Id":"2","Line1":"4581 Finch St.","City":"Bayshore","CountrySubDivisionCode":"CA","PostalCode":"94326","Lat":"INVALID","Long":"INVALID"},"ShipAddr":{"Id":"2","Line1":"4581
        Finch St.","City":"Bayshore","CountrySubDivisionCode":"CA","PostalCode":"94326","Lat":"INVALID","Long":"INVALID"},"DueDate":"2018-05-08","TotalAmt":100.00,"ApplyTaxAfterDiscount":false,"PrintStatus":"NeedToPrint","EmailStatus":"NotSet","Balance":100.00},"time":"2018-04-08T14:17:09.823-07:00"}'
  recorded_at: Sun, 08 Apr 2018 21:17:11 GMT
recorded_with: VCR 4.0.0
