---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/query?query=SELECT%20*%20FROM%20Customer
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer <OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Intuit-Tid:
      - 1-5f733be9-e9e791ec27b83239921a70ee
      X-Spanid:
      - '008d6f67-cd42-4754-9665-ee79b3c2a987'
      Qbo-Version:
      - '1944.190'
      Service-Time:
      - total=82, db=47
    body:
      encoding: ASCII-8BIT
      string: '{"QueryResponse":{"Customer":[{"Taxable":true,"BillAddr":{"Id":"2","Line1":"4581
        Finch St.","City":"Bayshore","CountrySubDivisionCode":"CA","PostalCode":"94326","Lat":"INVALID","Long":"INVALID"},"ShipAddr":{"Id":"2","Line1":"4581
        Finch St.","City":"Bayshore","CountrySubDivisionCode":"CA","PostalCode":"94326","Lat":"INVALID","Long":"INVALID"},"Job":false,"BillWithParent":false,"Balance":639.00,"BalanceWithJobs":639.00,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"PreferredDeliveryMethod":"Print","domain":"QBO","sparse":false,"Id":"1","SyncToken":"0","MetaData":{"CreateTime":"2015-10-01T16:48:43-07:00","LastUpdatedTime":"2020-09-29T06:02:35-07:00"},"GivenName":"Amy","FamilyName":"Lauterbach","FullyQualifiedName":"Amy''s
        Bird Sanctuary","CompanyName":"Amy''s Bird Sanctuary","DisplayName":"Amy''s
        Bird Sanctuary","PrintOnCheckName":"Amy''s Bird Sanctuary","Active":true,"PrimaryPhone":{"FreeFormNumber":"(650)
        555-3311"},"PrimaryEmailAddr":{"Address":"Birds@Intuit.com"}},{"Taxable":true,"Job":false,"BillWithParent":false,"Balance":0,"BalanceWithJobs":0,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"PreferredDeliveryMethod":"Print","domain":"QBO","sparse":false,"Id":"67","SyncToken":"0","MetaData":{"CreateTime":"2018-04-12T04:08:01-07:00","LastUpdatedTime":"2018-04-12T04:08:01-07:00"},"FullyQualifiedName":"Araborn","DisplayName":"Araborn","PrintOnCheckName":"Araborn","Active":true},{"Taxable":false,"BillAddr":{"Id":"3","[...]
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/query?query=SELECT%20*%20FROM%20Custmoer
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer <OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Intuit-Tid:
      - 1-5f733c38-6312b3f50596e47933ee0781
      X-Spanid:
      - ab04a0dc-2209-4764-ae50-d2f56879046a
    body:
      encoding: UTF-8
      string: '{"Fault":{"Error":[{"Message":"Invalid query","Detail":"QueryValidationError:
        invalid context declaration: Custmoer","code":"4001"}],"type":"ValidationFault"},"time":"2020-09-29T06:52:56.527-07:00"}'
  recorded_at: Tue, 29 Sep 2020 13:52:56 GMT
recorded_with: VCR 6.0.0
