---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/customer/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer <OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Intuit-Tid:
      - 1-5f7349e0-0fd2bee86a8a83c67a77fbb2
      Www-Authenticate:
      - Bearer realm="Intuit", error="invalid_token"
    body:
      encoding: UTF-8
      string: '{"warnings":null,"intuitObject":null,"fault":{"error":[{"message":"message=AuthenticationFailed;
        errorCode=003200; statusCode=401","detail":"Token expired: AB01601390262kxzxOlnHYdhtEVRXISU7piPqQrCmmbDN35Yjd","code":"3200","element":null}],"type":"AUTHENTICATION"},"report":null,"queryResponse":null,"batchItemResponse":[],"attachableResponse":[],"syncErrorResponse":null,"requestId":null,"time":1601391072830,"status":null,"cdcresponse":[]}'
  recorded_at: Tue, 29 Sep 2020 14:51:12 GMT
recorded_with: VCR 6.0.0
