---
http_interactions:
- request:
    method: post
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/customer
    body:
      encoding: UTF-8
      string: '{"DisplayName":"Weiskopf Consulting"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer <OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Intuit-Tid:
      - 1-5f733d9a-1d4e21aa217ba43177113df4
      X-Spanid:
      - a2cf9111-3e9e-4517-8d6e-0ffcdd9ae148
    body:
      encoding: UTF-8
      string: '{"Fault":{"Error":[{"Message":"Duplicate Name Exists Error","Detail":"The
        name supplied already exists. : null","code":"6240"}],"type":"ValidationFault"},"time":"2020-09-29T06:58:50.262-07:00"}'
  recorded_at: Tue, 29 Sep 2020 13:58:50 GMT
recorded_with: VCR 6.0.0
