---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/reports/ProfitAndLoss?customer=1&end_date=2015-07-31&start_date=2015-01-01&summarize_column_by=Customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer <OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - 9c46211f-9029-1e1d-8842-0e1957010301
      Qbo-Version:
      - '1803.898'
      Service-Time:
      - total=202, db=114
    body:
      encoding: ASCII-8BIT
      string: '{"Header":{"Time":"2018-04-17T08:04:05-07:00","ReportName":"ProfitAndLoss","ReportBasis":"Accrual","StartPeriod":"2015-01-01","EndPeriod":"2015-07-31","SummarizeColumnsBy":"Customers","Currency":"USD","Customer":"1","Option":[{"Name":"AccountingStandard","Value":"GAAP"},{"Name":"NoReportData","Value":"true"}]},"Columns":{"Column":[{"ColTitle":"","ColType":"Account","MetaData":[{"Name":"ColKey","Value":"account"}]},{"ColTitle":"TOTAL","ColType":"Money","MetaData":[{"Name":"ColKey","Value":"total"}]}]},"Rows":{"Row":[{"Header":{"ColData":[{"value":"Income"},{"value":""}]},"Summary":{"ColData":[{"value":"Total
        Income"},{"value":""}]},"type":"Section","group":"Income"},{"Summary":{"ColData":[{"value":"Gross
        Profit"},{"value":""}]},"type":"Section","group":"GrossProfit"},{"Header":{"ColData":[{"value":"Expenses"},{"value":""}]},"Summary":{"ColData":[{"value":"Total
        Expenses"},{"value":""}]},"type":"Section","group":"Expenses"},{"Summary":{"ColData":[{"value":"Net
        Operating Income"},{"value":""}]},"type":"Section","group":"NetOperatingIncome"},{"Summary":{"ColData":[{"value":"Net
        Income"},{"value":""}]},"type":"Section","group":"NetIncome"}]}}'
  recorded_at: Tue, 17 Apr 2018 15:04:05 GMT
recorded_with: VCR 4.0.0
