---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/query?query=SELECT%20*%20FROM%20Vendor%20WHERE%20Active%20IN%20(true,%20false)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer <OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - ecbb40a3-29a4-78cc-9466-7f9df8fcaf4c
      Qbo-Version:
      - '1803.859'
      Service-Time:
      - total=736, db=740
    body:
      encoding: UTF-8
      string: '{"QueryResponse":{"Vendor":[{"Balance":0,"Vendor1099":false,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"56","SyncToken":"0","MetaData":{"CreateTime":"2018-03-26T14:28:52-07:00","LastUpdatedTime":"2018-03-26T14:28:52-07:00"},"DisplayName":"Bob''s
        Burger Joint","PrintOnCheckName":"Bob''s Burger Joint","Active":true},{"BillAddr":{"Id":"31","Line1":"15
        Main St.","City":"Palo Alto","CountrySubDivisionCode":"CA","PostalCode":"94303","Lat":"37.445013","Long":"-122.1391443"},"Balance":0,"AcctNum":"1345","Vendor1099":false,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"30","SyncToken":"0","MetaData":{"CreateTime":"2018-03-05T10:07:56-08:00","LastUpdatedTime":"2018-03-10T11:13:46-08:00"},"GivenName":"Bessie","FamilyName":"Williams","CompanyName":"Books
        by Bessie","DisplayName":"Books by Bessie","PrintOnCheckName":"Books by Bessie","Active":true,"PrimaryPhone":{"FreeFormNumber":"(650)
        555-7745"},"PrimaryEmailAddr":{"Address":"Books@Intuit.com"},"WebAddr":{"URI":"http://www.booksbybessie.co"}},{"BillAddr":{"Id":"32","Line1":"P.O.
        Box 5","City":"Middlefield","CountrySubDivisionCode":"CA","PostalCode":"94482","Lat":"43.8249453","Long":"-79.2639122"},"Balance":241.23,"AcctNum":"7653412","Vendor1099":true,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"31","SyncToken":"0","MetaData":{"CreateTime":"2018-03-05T10:12:02-08:00","LastUpdatedTime":"2018-03-09T15:28:48-08:00"},"GivenName":"Nick","FamilyName":"Brosnahan","CompanyName":"Brosnahan
        Insurance Agency","DisplayName":"Brosnahan Insurance Agency","PrintOnCheckName":"Brosnahan
        Insurance Agency","Active":true,"PrimaryPhone":{"FreeFormNumber":"(650) 555-9912"},"Mobile":{"FreeFormNumber":"(650)
        555-9874"},"Fax":{"FreeFormNumber":"(555) 123-4567"},"WebAddr":{"URI":"http://BrosnahanInsuranceAgency.org"}},{"BillAddr":{"Id":"33","Line1":"10
        Main St.","City":"Palo Alto","CountrySubDivisionCode":"CA","PostalCode":"94303","Lat":"37.445013","Long":"-122.1391443"},"TermRef":{"value":"1"},"Balance":0,"Vendor1099":false,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"32","SyncToken":"0","MetaData":{"CreateTime":"2018-03-05T10:13:24-08:00","LastUpdatedTime":"2018-03-12T12:55:23-07:00"},"CompanyName":"Cal
        Telephone","DisplayName":"Cal Telephone","PrintOnCheckName":"Cal Telephone","Active":true,"PrimaryPhone":{"FreeFormNumber":"(650)
        555-1616"}},{"Balance":0,"Vendor1099":false,"CurrencyRef":{"value"[...]
