---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/query?query=SELECT%20COUNT(*)%20FROM%20Vendor
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer <OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Intuit-Tid:
      - 1-5f7330d5-6a5d8e9b07823cfcc094d42c
      X-Spanid:
      - 922941ee-105f-4743-b99c-5687d4559481
      Qbo-Version:
      - '1944.190'
      Service-Time:
      - total=33, db=23
    body:
      encoding: ASCII-8BIT
      string: '{"QueryResponse":{"totalCount":26},"time":"2020-09-29T06:04:21.387-07:00"}'
  recorded_at: Tue, 29 Sep 2020 13:04:21 GMT
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/query?query=SELECT%20*%20FROM%20Vendor%20MAXRESULTS%205%20STARTPOSITION%201
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer <OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Intuit-Tid:
      - 1-5f7330d5-605cad8e1a4a839ca24702eb
      X-Spanid:
      - 2cc348ff-115e-4eeb-9f8b-5b5e305131a2
      Qbo-Version:
      - '1944.190'
      Service-Time:
      - total=42, db=27
    body:
      encoding: ASCII-8BIT
      string: '{"QueryResponse":{"Vendor":[{"Balance":0,"Vendor1099":false,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"56","SyncToken":"0","MetaData":{"CreateTime":"2015-10-23T14:28:52-07:00","LastUpdatedTime":"2015-10-23T14:28:52-07:00"},"DisplayName":"Bob''s
        Burger Joint","PrintOnCheckName":"Bob''s Burger Joint","Active":true},{"BillAddr":{"Id":"31","Line1":"15
        Main St.","City":"Palo Alto","CountrySubDivisionCode":"CA","PostalCode":"94303","Lat":"37.445013","Long":"-122.1391443"},"Balance":0,"AcctNum":"1345","Vendor1099":false,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"30","SyncToken":"0","MetaData":{"CreateTime":"2015-10-02T10:07:56-07:00","LastUpdatedTime":"2015-10-07T11:13:46-07:00"},"GivenName":"Bessie","FamilyName":"Williams","CompanyName":"Books
        by Bessie","DisplayName":"Books by Bessie","PrintOnCheckName":"Books by Bessie","Active":true,"PrimaryPhone":{"FreeFormNumber":"(650)
        555-7745"},"PrimaryEmailAddr":{"Address":"Books@Intuit.com"},"WebAddr":{"URI":"http://www.booksbybessie.co"}},{"BillAddr":{"Id":"32","Line1":"P.O.
        Box 5","City":"Middlefield","CountrySubDivisionCode":"CA","PostalCode":"94482","Lat":"43.8249453","Long":"-79.2639122"},"TaxIdentifier":"XXXXXX9875","Balance":241.23,"AcctNum":"7653412","Vendor1099":true,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"31","SyncToken":"0","MetaData":{"CreateTime":"2015-10-02T10:12:02-07:00","LastUpdatedTime":"2015-10-06T15:28:48-07:00"},"GivenName":"Nick","FamilyName":"Brosnahan","CompanyName":"Brosnahan
        Insurance Agency","DisplayName":"Brosnahan Insurance Agency","PrintOnCheckName":"Brosnahan
        Insurance Agency","Active":true,"PrimaryPhone":{"FreeFormNumber":"(650) 555-9912"},"Mobile":{"FreeFormNumber":"(650)
        555-9874"},"Fax":{"FreeFormNumber":"(555) 123-4567"},"WebAddr":{"URI":"http://BrosnahanInsuranceAgency.org"}},{"BillAddr":{"Id":"33","Line1":"10
        Main St.","City":"Palo Alto","CountrySubDivisionCode":"CA","PostalCode":"94303","Lat":"37.445013","Long":"-122.1391443"},"TermRef":{"value":"1"},"Balance":4312.88,"Vendor1099":false,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"32","SyncToken":"0","MetaData":{"CreateTime":"2015-10-02T10:13:24-07:00","LastUpdatedTime":"2020-07-01T01:26:50-07:00"},"CompanyName":"Cal
        Telephone","DisplayName":"Cal Telephone","PrintOnCheckName":"Cal Telephone","Active":true,"PrimaryPhone":{"FreeFormNumber":"(650)
        555-1616"}},{"Balance":0,"Vendor1099":false,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"33","SyncToken":"0","MetaData":{"CreateTime":"2015-10-02T10:13:52-07:00","LastUpdatedTime":"2015-10-02T10:13:52-07:00"},"CompanyName":"Chin''s
        Gas and Oil","DisplayName":"Chin''s Gas and Oil","PrintOnCheckName":"Chin''s
        Gas and Oil","Active":true}],"startPosition":1,"maxResults":5},"time":"2020-09-29T06:04:21.869-07:00"}'
  recorded_at: Tue, 29 Sep 2020 13:04:21 GMT
[...]
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/query?query=SELECT%20*%20FROM%20Vendor%20MAXRESULTS%205%20STARTPOSITION%2026
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer <OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Intuit-Tid:
      - 1-5f7330d8-c3336012b6eaba4938784275
      X-Spanid:
      - a84cd6cf-90ad-443d-9822-10bd3a540048
      Qbo-Version:
      - '1944.190'
      Service-Time:
      - total=42, db=29
    body:
      encoding: ASCII-8BIT
      string: '{"QueryResponse":{"Vendor":[{"Balance":0,"Vendor1099":false,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"52","SyncToken":"0","MetaData":{"CreateTime":"2015-10-02T10:43:57-07:00","LastUpdatedTime":"2015-10-02T10:43:57-07:00"},"Title":"Mr.","GivenName":"Tony","MiddleName":"L","FamilyName":"Rodonuwu","Suffix":"Jr.","DisplayName":"Tony
        Rondonuwu","PrintOnCheckName":"Tony Rondonuwu","Active":true,"PrimaryEmailAddr":{"Address":"tonyrjr@intuit.com"}}],"startPosition":26,"maxResults":1},"time":"2020-09-29T06:04:24.267-07:00"}'
  recorded_at: Tue, 29 Sep 2020 13:04:24 GMT
recorded_with: VCR 6.0.0
