---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/invoice/145
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="e654328a6b44e09fd8bf66e2b25ebe8a",
        oauth_signature="mqw%2F%2Fh79kpRBvEfQPFKdDORqSlI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446736344", oauth_token="<ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - a5888b5d-23a2-4e3d-9a32-264f98e197b7
      Qbo-Version:
      - '1510.283'
    body:
      encoding: ASCII-8BIT
      string: '{"Invoice":{"Deposit":0,"AllowIPNPayment":false,"AllowOnlinePayment":false,"AllowOnlineCreditCardPayment":false,"AllowOnlineACHPayment":false,"domain":"QBO","sparse":false,"Id":"145","SyncToken":"0","MetaData":{"CreateTime":"2015-11-05T05:47:19-08:00","LastUpdatedTime":"2015-11-05T05:47:19-08:00"},"CustomField":[{"DefinitionId":"1","Name":"Crew
        #","Type":"StringType"}],"DocNumber":"1038","TxnDate":"2015-11-05","CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"LinkedTxn":[],"Line":[{"Id":"1","LineNum":1,"Amount":100.00,"DetailType":"SalesItemLineDetail","SalesItemLineDetail":{"ItemRef":{"value":"1","name":"Services"},"TaxCodeRef":{"value":"NON"}}},{"Amount":100.00,"DetailType":"SubTotalLineDetail","SubTotalLineDetail":{}}],"TxnTaxDetail":{"TotalTax":0},"CustomerRef":{"value":"1","name":"Amy''s
        Bird Sanctuary"},"BillAddr":{"Id":"2","Line1":"4581 Finch St.","City":"Bayshore","CountrySubDivisionCode":"CA","PostalCode":"94326","Lat":"INVALID","Long":"INVALID"},"ShipAddr":{"Id":"2","Line1":"4581
        Finch St.","City":"Bayshore","CountrySubDivisionCode":"CA","PostalCode":"94326","Lat":"INVALID","Long":"INVALID"},"DueDate":"2015-12-05","TotalAmt":100.00,"ApplyTaxAfterDiscount":false,"PrintStatus":"NeedToPrint","EmailStatus":"NotSet","Balance":100.00},"time":"2015-11-05T07:12:26.724-08:00"}'
  recorded_at: Thu, 05 Nov 2015 15:12:26 GMT
- request:
    method: post
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/invoice?operation=delete
    body:
      encoding: UTF-8
      string: '{"Id":"145","SyncToken":"0"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="e4633c00aa16533fe20fe41f1b4e2a21",
        oauth_signature="JIi7EVTFafm4Bc2ksk4Se35d6V0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446736346", oauth_token="<ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - 003114f4-352f-4d6a-8210-aaed909927b7
      Qbo-Version:
      - '1510.283'
    body:
      encoding: ASCII-8BIT
      string: '{"Invoice":{"domain":"QBO","status":"Deleted","Id":"145"},"time":"2015-11-05T07:12:27.816-08:00"}'
  recorded_at: Thu, 05 Nov 2015 15:12:28 GMT
recorded_with: VCR 2.9.3
