/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
.env
.ruby-version
.ruby-gemset
.byebug_history
*.gem
.rspec
todo.txt
*.sess
*.log
spec/temp/spec_status.txt
*.swp
scrap.txt
