---
http_interactions:
- request:
    method: post
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/invoice
    body:
      encoding: UTF-8
      string: '{"BadJson":true}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer <OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Intuit-Tid:
      - 463fb999-8188-6d0f-e59c-42aa517b0257
    body:
      encoding: ASCII-8BIT
      string: '{"Fault":{"Error":[{"Message":"Request has invalid or unsupported property","Detail":"Property
        Name:Unrecognized field \"BadJson\" (class com.intuit.schema.finance.v3.Invoice),
        not marked as ignorable (74 known properties: \"DocNumber\", \"HomeTotalAmt\",
        \"TotalAmt\", \"TxnSource\", \"AllowOnlinePayment\", \"EmailSt specified is
        unsupported or invalid","code":"2010"}],"type":"ValidationFault"},"time":"2018-04-17T08:04:01.797-07:00"}'
  recorded_at: Tue, 17 Apr 2018 15:04:01 GMT
recorded_with: VCR 4.0.0
