---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/cdc?changedSince=2011-10-10T09:00:00-07:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="029b695cb4e7066d1a0bec087befa2f1",
        oauth_signature="4U0nhsOGjHy7bbsOTNVqBYYVg%2BA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1458246397", oauth_token="<ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - gw-c4552008-9359-4b68-969f-c3a2c26d05c9
      Qbo-Version:
      - '1603.466'
    body:
      encoding: ASCII-8BIT
      string: '{"Fault":{"Error":[{"Message":"An application error has occurred while
        processing your request","Detail":"System Failure Error: java.lang.IllegalArgumentException:
        entities is required","code":"10000","element":"SystemFailureError"}],"type":"SystemFault"},"time":"2016-03-17T13:26:38.386-07:00"}'
  recorded_at: Thu, 17 Mar 2016 20:26:38 GMT
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/cdc?changedSince=2011-10-10T09:00:00-07:00&entites=estimates
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="6a37bb70a34b9c9125cf5be012c6c58a",
        oauth_signature="5G9i1i5JmKDqIZAbWgL5otLZTG4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1458246451", oauth_token="<ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - gw-f973e62f-a5cb-4029-8dc4-18fe1ad79b8a
      Qbo-Version:
      - '1603.466'
    body:
      encoding: ASCII-8BIT
      string: '{"Fault":{"Error":[{"Message":"An application error has occurred while
        processing your request","Detail":"System Failure Error: java.lang.IllegalArgumentException:
        entities is required","code":"10000","element":"SystemFailureError"}],"type":"SystemFault"},"time":"2016-03-17T13:27:33.764-07:00"}'
  recorded_at: Thu, 17 Mar 2016 20:27:33 GMT
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/cdc?changedSince=2011-10-10T09:00:00-07:00&entities=estimates
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="06a6dac7303f70cc6aa596ea58647fd0",
        oauth_signature="IkWcKx69rphI%2Fq2HNHQldpMuGjA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1458246492", oauth_token="<ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - gw-0bd7e3a0-2641-40a9-a93e-9560619b4a79
      Qbo-Version:
      - '1603.466'
    body:
      encoding: ASCII-8BIT
      string: '{"Fault":{"Error":[{"Message":"An application error has occurred while
        processing your request","Detail":"System Failure Error: java.lang.IllegalArgumentException:
        Invalid entity supplied : entity=estimates","code":"10000","element":"SystemFailureError"}],"type":"SystemFault"},"time":"2016-03-17T13:28:13.263-07:00"}'
  recorded_at: Thu, 17 Mar 2016 20:28:13 GMT
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/cdc?changedSince=2011-10-10T09:00:00-07:00&entities=estimate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="723824671e8bcd61fe41db8d83b0219a",
        oauth_signature="WHqcCUpYvlnn2HhhKHdxDJjzcxc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1458246970", oauth_token="<ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - gw-cf0ec042-baba-4456-a857-fe8fddb6a5e4
      Qbo-Version:
      - '1603.466'
    body:
      encoding: ASCII-8BIT
      string: '{"CDCResponse":[{"QueryResponse":[{"Estimate":[{"domain":"QBO","sparse":false,"Id":"48","SyncToken":"0","MetaData":{"CreateTime":"2015-10-07T11:42:38-07:00","LastUpdatedTime":"2015-10-07T11:43:20-07:00"},"CustomField":[{"DefinitionId":"1","Name":"Crew
        #","Type":"StringType"}],"DocNumber":"1001","TxnDate":"2015-10-05","CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"TxnStatus":"Closed","LinkedTxn":[{"TxnId":"49","TxnType":"Invoice"}],"Line":[{"Id":"1","LineNum":1,"Description":"Custom
        Design","Amount":300.00,"DetailType":"SalesItemLineDetail","SalesItemLineDetail":{"ItemRef":{"value":"4","name":"Design"},"UnitPrice":75,"Qty":4,"TaxCodeRef":{"value":"NON"}}},{"Id":"2","LineNum":2,"Description":"Installation
        of landscape design","Amount":250.00,"DetailType":"SalesItemLineDetail","SalesItemLineDetail":{"ItemRef":{"value":"7","name":"Installation"},"UnitPrice":50,"Qty":5,"TaxCodeRef":{"value":"NON"}}},{"Id":"3","LineNum":3,"Description":"Rock
        Fountain","Amount":275.00,"DetailType":"SalesItemLineDetail","SalesItemLineDetail":{"ItemRef":{"value":"5","name":"Rock
        Fountain"},"UnitPrice":275,"Qty":1,"TaxCodeRef":{"value":"NON"}}},{"Id":"4","LineNum":4,"Description":"Garden
        Rocks","Amount":180.00,"DetailType":"SalesItemLineDetail","SalesItemLineDetail":{"ItemRef":{"value":"13","name":"Rocks"},"UnitPrice":22.5,"Qty":8,"TaxCodeRef":{"value":"NON"}}},{"Amount":1005.00,"DetailType":"SubTotalLineDetail","SubTotalLineDetail":{}}],"TxnTaxDetail":{"TotalTax":0},"CustomerRef":{"value":"18","name":"Paulsen
        Medical Supplies"},"CustomerMemo":{"value":"Thank you for your business and
        have a great day!"},"BillAddr":{"Id":"67","Line1":"Kathy Paulsen","Line2":"Paulsen
        Medical Supplies","Line3":"900 Main St.","Line4":"Middlefield, CA  94303","Lat":"37.4530553","Long":"-122.1178261"},"ShipAddr":{"Id":"19","Line1":"38921
        S. Boise Ave","City":"Middlefield","CountrySubDivisionCode":"CA","PostalCode":"94304","Lat":"37.3989376","Long":"-122.1443935"},"TotalAmt":1005.00,"ApplyTaxAfterDiscount":false,"PrintStatus":"NeedToPrint","EmailStatus":"NeedToSend","BillEmail":{"Address":"Medical@intuit.com"},"DeliveryInfo":{"DeliveryType":"Email"}},{"domain":"QBO","sparse":false,"Id":"46","SyncToken":"0","MetaData":{"CreateTime":"2015-10-07T11:36:01-07:00","LastUpdatedTime":"2015-10-08T12:42:59-07:00"},"CustomField":[{"DefinitionId":"1","Name":"Crew
        #","Type":"StringType"}],"DocNumber":"1001","TxnDate":"2015-10-05","CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"TxnStatus":"Closed","LinkedTxn":[{"TxnId":"69","TxnType":"Invoice"}],"Line":[{"Id":"1","LineNum":1,"Description":"Pest
        Control Servic[...]
