---
http_interactions:
- request:
    method: post
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/upload
    body:
      encoding: UTF-8
      string: "-------------RubyMultipartPost-7ec38761b3ef974f83f5d11622318e70\r\nContent-Disposition:
        form-data; name=\"file_metadata_01\"; filename=\"attachment.json\"\r\nContent-Length:
        117\r\nContent-Type: application/json\r\nContent-Transfer-Encoding: binary\r\n\r\n{\"AttachableRef\":[{\"EntityRef\":{\"type\":\"Invoice\",\"value\":\"75\"}}],\"FileName\":\"no_detail.xml\",\"ContentType\":\"text/xml\"}\r\n-------------RubyMultipartPost-7ec38761b3ef974f83f5d11622318e70\r\nContent-Disposition:
        form-data; name=\"file_content_01\"; filename=\"no_detail.xml\"\r\nContent-Length:
        538\r\nContent-Type: text/xml\r\nContent-Transfer-Encoding: binary\r\n\r\n<?xml
        version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<IntuitResponse xmlns=\"http://schema.intuit.com/finance/v3\"
        time=\"2017-03-29T05:39:07.929-07:00\">\n  <Fault type=\"AUTHENTICATION\">\n
        \   <Error code=\"3200\">\n      <Message>message=ApplicationAuthenticationFailed;
        errorCode=003200; statusCode=401</Message>\n    </Error>\n    <Error code=\"3200\">\n
        \     <Message>message=ApplicationAuthenticationFailed; errorCode=003200;
        statusCode=401</Message>\n      <Detail>This error does have detail</Detail>\n
        \   </Error>\n  </Fault>\n</IntuitResponse>\n\r\n-------------RubyMultipartPost-7ec38761b3ef974f83f5d11622318e70--\r\n\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=-----------RubyMultipartPost-7ec38761b3ef974f83f5d11622318e70
      Authorization:
      - Bearer <OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
      Intuit-Tid:
      - ffcaf459-e381-45ca-83be-943d692d6ff1
      Qbo-Version:
      - '1803.898'
      Service-Time:
      - total=1658, db=498
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><IntuitResponse
        xmlns="http://schema.intuit.com/finance/v3" time="2018-04-17T08:03:59.433-07:00"><AttachableResponse><Attachable
        domain="QBO" sparse="false"><Id>5000000000000149662</Id><SyncToken>0</SyncToken><MetaData><CreateTime>2018-04-17T08:04:00-07:00</CreateTime><LastUpdatedTime>2018-04-17T08:04:00-07:00</LastUpdatedTime></MetaData><AttachableRef><EntityRef
        type="Invoice">75</EntityRef><IncludeOnSend>false</IncludeOnSend></AttachableRef><FileName>no_detail.xml</FileName><FileAccessUri>/v3/company/<COMPANY_ID>/download/5000000000000149662</FileAccessUri><TempDownloadUri>https://intuit-qbo-prod-17.s3.amazonaws.com/<COMPANY_ID>/attachments/no_detail.xml?X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Date=20180417T150401Z&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Expires=900&amp;X-Amz-Credential=AKIAJEXDXKNYCBUNCCCQ%2F20180417%2Fus-east-1%2Fs3%2Faws4_request&amp;X-Amz-Signature=4c1f82d86cdecaa56618175a01618952dabcc633401f71f9db1b8fc7a881d862</TempDownloadUri><Size>538</Size><ContentType>text/xml</ContentType></Attachable></AttachableResponse></IntuitResponse>
  recorded_at: Tue, 17 Apr 2018 15:04:01 GMT
recorded_with: VCR 4.0.0
