---
http_interactions:
- request:
    method: post
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/upload
    body:
      encoding: UTF-8
      string: "-------------RubyMultipartPost-d6b728d112b36f7b7add1b912589ef5d\r\nContent-Disposition:
        form-data; name=\"file_metadata_01\"; filename=\"attachment.json\"\r\nContent-Length:
        117\r\nContent-Type: application/json\r\nContent-Transfer-Encoding: binary\r\n\r\n{\"AttachableRef\":[{\"EntityRef\":{\"type\":\"Invoice\",\"value\":\"75\"}}],\"FileName\":\"no_detail.xml\",\"ContentType\":\"text/xml\"}\r\n-------------RubyMultipartPost-d6b728d112b36f7b7add1b912589ef5d\r\nContent-Disposition:
        form-data; name=\"file_content_01\"; filename=\"no_detail.xml\"\r\nContent-Length:
        538\r\nContent-Type: text/xml\r\nContent-Transfer-Encoding: binary\r\n\r\n<?xml
        version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<IntuitResponse xmlns=\"http://schema.intuit.com/finance/v3\"
        time=\"2017-03-29T05:39:07.929-07:00\">\n  <Fault type=\"AUTHENTICATION\">\n
        \   <Error code=\"3200\">\n      <Message>message=ApplicationAuthenticationFailed;
        errorCode=003200; statusCode=401</Message>\n    </Error>\n    <Error code=\"3200\">\n
        \     <Message>message=ApplicationAuthenticationFailed; errorCode=003200;
        statusCode=401</Message>\n      <Detail>This error does have detail</Detail>\n
        \   </Error>\n  </Fault>\n</IntuitResponse>\n\r\n-------------RubyMultipartPost-d6b728d112b36f7b7add1b912589ef5d--\r\n\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=-----------RubyMultipartPost-d6b728d112b36f7b7add1b912589ef5d
      Authorization:
      - Bearer <OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - 10200951-8624-454d-24cc-9b2a5ec64c17
      Qbo-Version:
      - '1803.898'
      Service-Time:
      - total=2290, db=1231
    body:
      encoding: ASCII-8BIT
      string: '{"AttachableResponse":[{"Attachable":{"FileName":"no_detail.xml","FileAccessUri":"/v3/company/<COMPANY_ID>/download/5000000000000149663","TempDownloadUri":"https://intuit-qbo-prod-1.s3.amazonaws.com/<COMPANY_ID>/attachments/no_detail.xml?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20180417T152152Z&X-Amz-SignedHeaders=host&X-Amz-Expires=899&X-Amz-Credential=AKIAJEXDXKNYCBUNCCCQ%2F20180417%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=054d0f2ea63c9b7a2227f5fec2b060697c39333924eaa379b8eb51edabbbc721","Size":538,"ContentType":"text/xml","domain":"QBO","sparse":false,"Id":"5000000000000149663","SyncToken":"0","MetaData":{"CreateTime":"2018-04-17T08:21:52-07:00","LastUpdatedTime":"2018-04-17T08:21:52-07:00"},"AttachableRef":[{"EntityRef":{"value":"75","type":"Invoice"},"IncludeOnSend":false}]}}],"time":"2018-04-17T08:21:51.206-07:00"}'
  recorded_at: Tue, 17 Apr 2018 15:21:52 GMT
recorded_with: VCR 4.0.0
