---
  http_interactions:
  - request:
      method: post
      uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/attachable?operation=delete
      body:
        encoding: UTF-8
        string: '{"SyncToken"=>"0", "domain"=>"QBO", "AttachableRef"=>[{"IncludeOnSend"=>false, "EntityRef"=>{"type"=>"Invoice", "value"=>"95"}}], "Note"=>"This is an attached note.", "sparse"=>false, "Id"=>"200900000000000008541", "MetaData"=>{"CreateTime"=>"2015-11-17T11:05:15-08:00", "LastUpdatedTime"=>"2015-11-17T11:05:15-08:00"}}'
      headers:
        Content-Type:
        - application/json
        Authorization:
        - Bearer <OAUTH2_ACCESS_TOKEN>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
        - application/json;charset=UTF-8
        Intuit-Tid:
        - 10200951-8624-454d-24cc-9b2a5ec64c17
        Qbo-Version:
        - '1803.898'
        Service-Time:
        - total=2290, db=1231
      body:
        encoding: ASCII-8BIT
        string: '{"Attachable":{"status":"Deleted","domain":"QBO","Id":"200900000000000008541"},"time":"2015-03-15T11:27:41.514-07:00"}'
    recorded_at: Tue, 17 Apr 2018 15:21:52 GMT
  recorded_with: VCR 4.0.0
