---
  http_interactions:
  - request:
      method: get
      uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/attachable/5000000000000149663
      body:
        encoding: UTF-8
        string: ""
      headers:
        Content-Type:
        - application/json
        Authorization:
        - Bearer <OAUTH2_ACCESS_TOKEN>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
        - application/json;charset=UTF-8
        Intuit-Tid:
        - 10200951-8624-454d-24cc-9b2a5ec64c17
        Qbo-Version:
        - '1803.898'
        Service-Time:
        - total=2290, db=1231
      body:
        encoding: ASCII-8BIT
        string: '{"Attachable":{"FileName":"no_detail.xml","FileAccessUri":"/v3/company/<COMPANY_ID>/download/5000000000000149663","Size":538,"ContentType":"text/xml","domain":"QBO","sparse":false,"Id":"5000000000000149663","Note":"This is an attached note","SyncToken":"0","MetaData":{"CreateTime":"2018-04-17T08:21:52-07:00","LastUpdatedTime":"2018-04-17T08:21:52-07:00"},"AttachableRef":[{"EntityRef":{"value":"75","type":"Invoice"},"IncludeOnSend":false}]},"time":"2018-04-17T08:21:51.206-07:00"}'
    recorded_at: Tue, 17 Apr 2018 15:21:52 GMT
  recorded_with: VCR 4.0.0
