---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/customer/60?minorversion=8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer <OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - 01c4e39d-27e4-baf0-af73-5ba2a0214674
      Qbo-Version:
      - '1803.859'
      Service-Time:
      - total=188, db=110
    body:
      encoding: ASCII-8BIT
      string: '{"Customer":{"Taxable":true,"Job":false,"BillWithParent":false,"Balance":0,"BalanceWithJobs":0,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"PreferredDeliveryMethod":"Print","domain":"QBO","sparse":false,"Id":"60","SyncToken":"0","MetaData":{"CreateTime":"2018-04-07T21:05:41-07:00","LastUpdatedTime":"2018-04-07T21:05:41-07:00"},"FullyQualifiedName":"whois","DisplayName":"whois","PrintOnCheckName":"whois","Active":true,"DefaultTaxCodeRef":{"value":"2"}},"time":"2018-04-08T14:17:12.296-07:00"}'
  recorded_at: Sun, 08 Apr 2018 21:17:12 GMT
- request:
    method: post
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/customer?minorversion=8
    body:
      encoding: UTF-8
      string: '{"DisplayName":"Jack Doe","PrimaryPhone":{"FreeFormNumber":"(415) 444-1234"},"Id":"60","SyncToken":"0"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer <OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - 8438da57-739e-4909-d148-2c185a4f08f4
      Qbo-Version:
      - '1803.859'
      Service-Time:
      - total=261, db=172
    body:
      encoding: ASCII-8BIT
      string: '{"Customer":{"Taxable":true,"Job":false,"BillWithParent":false,"Balance":0,"BalanceWithJobs":0,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"PreferredDeliveryMethod":"Print","domain":"QBO","sparse":false,"Id":"60","SyncToken":"1","MetaData":{"CreateTime":"2018-04-07T21:05:41-07:00","LastUpdatedTime":"2018-04-08T14:17:12-07:00"},"FullyQualifiedName":"Jack
        Doe","DisplayName":"Jack Doe","PrintOnCheckName":"Jack Doe","Active":true,"PrimaryPhone":{"FreeFormNumber":"(415)
        444-1234"},"DefaultTaxCodeRef":{"value":"2"}},"time":"2018-04-08T14:17:12.885-07:00"}'
  recorded_at: Sun, 08 Apr 2018 21:17:13 GMT
recorded_with: VCR 4.0.0
