---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/salesreceipt/17
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer <OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - 1cbfdffd-9b29-fc26-799a-20512333786b
      Qbo-Version:
      - '1803.859'
      Service-Time:
      - total=434, db=271
    body:
      encoding: ASCII-8BIT
      string: '{"SalesReceipt":{"domain":"QBO","sparse":false,"Id":"17","SyncToken":"0","MetaData":{"CreateTime":"2018-03-09T15:12:39-08:00","LastUpdatedTime":"2018-03-09T15:12:39-08:00"},"CustomField":[{"DefinitionId":"1","Name":"Crew
        #","Type":"StringType"}],"DocNumber":"1008","TxnDate":"2018-02-15","CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"Line":[{"Id":"1","LineNum":1,"Description":"Custom Design","Amount":225.00,"DetailType":"SalesItemLineDetail","SalesItemLineDetail":{"ItemRef":{"value":"4","name":"Design"},"UnitPrice":75,"Qty":3,"TaxCodeRef":{"value":"NON"}}},{"Amount":225.00,"DetailType":"SubTotalLineDetail","SubTotalLineDetail":{}}],"TxnTaxDetail":{"TotalTax":0},"CustomerRef":{"value":"14","name":"Kate
        Whelan"},"CustomerMemo":{"value":"Thank you for your business and have a great
        day!"},"BillAddr":{"Id":"54","Line1":"Kate Whelan","Line2":"45 First St.","Line3":"Menlo
        Park, CA  94304 USA","Lat":"37.3813444","Long":"-122.1802812"},"ShipAddr":{"Id":"14","Line1":"45
        First St.","City":"Menlo Park","Country":"USA","CountrySubDivisionCode":"CA","PostalCode":"94304","Lat":"37.4585825","Long":"-122.1352789"},"TotalAmt":225.00,"ApplyTaxAfterDiscount":false,"PrintStatus":"NeedToPrint","EmailStatus":"NotSet","BillEmail":{"Address":"Kate@Whelan.com"},"Balance":0,"DepositToAccountRef":{"value":"35","name":"Checking"}},"time":"2018-04-08T14:17:13.713-07:00"}'
  recorded_at: Sun, 08 Apr 2018 21:17:14 GMT
- request:
    method: post
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/salesreceipt?minorversion=4&requestid=b6421f79-893d-46ac-bd2e-f85ff1497fdc
    body:
      encoding: UTF-8
      string: '{"Line":[{"Description":"Custom Design","Amount":337.5,"DetailType":"SalesItemLineDetail","SalesItemLineDetail":{"ItemRef":{"value":"4","name":"Design"},"UnitPrice":75,"Qty":4.5,"TaxCodeRef":{"value":"NON"}}}],"Id":"17","SyncToken":"0"}'
    headers:
      Content-Type:
    [...]
