---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/query?%2BFROM%2BCustomer=true&query=SELECT%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="0a341ed224c3b37fe85b335fa9030f09",
        oauth_signature="BDSWvXB5yY3%2FwemJ0Tyu4B8FvhQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446737155", oauth_token="<ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/xml
      Intuit-Tid:
      - gw-f85bb33c-c8d8-4ce1-82a4-592966310655
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <IntuitResponse time="2015-11-05T07:25:56.106-08:00" xmlns="http://schema.intuit.com/finance/v3">
            <Fault type="AUTHENTICATION">
                <Error code="3200">
                    <Message>message=ApplicationAuthenticationFailed; errorCode=003200; statusCode=401</Message>
                    <Detail>SignatureBaseString: GET&amp;https%3A%2F%2Fsandbox-quickbooks.api.intuit.com%2Fv3%2Fcompany%2F<COMPANY_ID>%2Fquery&amp;%2520FROM%2520Customer%3D%26oauth_consumer_key%3D<CONSUMER_KEY>%26oauth_nonce%3D0a341ed224c3b37fe85b335fa9030f09%26oauth_signature_method%3DHMAC-SHA1%26oauth_timestamp%3D1446737155%26oauth_token%3D<ACCESS_TOKEN>%26oauth_version%3D1.0%26query%3DSELECT%2520</Detail>
                </Error>
            </Fault>
        </IntuitResponse>
  recorded_at: Thu, 05 Nov 2015 15:25:56 GMT
recorded_with: VCR 2.9.3
