---
http_interactions:
- request:
    method: post
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/upload
    body:
      encoding: UTF-8
      string: "-------------RubyMultipartPost-64b7725cb8aa71b7de7e2605f5eb8f0e\r\nContent-Disposition:
        form-data; name=\"file_metadata_01\"; filename=\"attachment.json\"\r\nContent-Length:
        118\r\nContent-Type: application/json\r\nContent-Transfer-Encoding: binary\r\n\r\n{\"AttachableRef\":[{\"EntityRef\":{\"type\":\"Estimate\",\"value\":\"75\"}}],\"FileName\":\"no_detail.xml\",\"ContentType\":\"text/xml\"}\r\n-------------RubyMultipartPost-64b7725cb8aa71b7de7e2605f5eb8f0e\r\nContent-Disposition:
        form-data; name=\"file_content_01\"; filename=\"no_detail.xml\"\r\nContent-Length:
        538\r\nContent-Type: text/xml\r\nContent-Transfer-Encoding: binary\r\n\r\n<?xml
        version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<IntuitResponse xmlns=\"http://schema.intuit.com/finance/v3\"
        time=\"2017-03-29T05:39:07.929-07:00\">\n  <Fault type=\"AUTHENTICATION\">\n
        \   <Error code=\"3200\">\n      <Message>message=ApplicationAuthenticationFailed;
        errorCode=003200; statusCode=401</Message>\n    </Error>\n    <Error code=\"3200\">\n
        \     <Message>message=ApplicationAuthenticationFailed; errorCode=003200;
        statusCode=401</Message>\n      <Detail>This error does have detail</Detail>\n
        \   </Error>\n  </Fault>\n</IntuitResponse>\n\r\n-------------RubyMultipartPost-64b7725cb8aa71b7de7e2605f5eb8f0e--\r\n\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=-----------RubyMultipartPost-64b7725cb8aa71b7de7e2605f5eb8f0e
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="ff5a177090c24a48c54294f9d45a2d46",
        oauth_signature="3WMw7iMm%2B4ytl%2B9iT6hw4hKGMxA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1515249128", oauth_token="<ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - 7ff9c2ee-9ece-8801-f33e-550517ddae26
      Qbo-Version:
      - '1712.1280'
      Service-Time:
      - total=247, db=166
    body:
      encoding: UTF-8
      string: '{"AttachableResponse":[{"Fault":{"Error":[{"Message":"A business validation
        error has occurred while processing your request","Detail":"Business Validation
        Error: The entity Estimate 75 that you are trying to link does not exist.","code":"6000","element":""}],"type":"ValidationFault"}}],"time":"2018-01-06T06:32:09.863-08:00"}'
  recorded_at: Sat, 06 Jan 2018 14:32:10 GMT
recorded_with: VCR 3.0.3
