---
http_interactions:
- request:
    method: post
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/customer
    body:
      encoding: UTF-8
      string: '{"DisplayName":"Weiskopf Consulting"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="fc0a5ed2405f41a15eb51a0180a94899",
        oauth_signature="nl%2BsyJVQ9umE%2FFQZLQAkw31IHsw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446742374", oauth_token="<ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Intuit-Tid:
      - a390eb97-7b42-4dd8-96ed-8e7052bb6719
    body:
      encoding: ASCII-8BIT
      string: '{"Fault":{"Error":[{"Message":"Duplicate Name Exists Error","Detail":"The
        name supplied already exists. : Another customer, vendor or employee is already
        using this \nname. Please use a different name.","code":"6240","element":""}],"type":"ValidationFault"},"time":"2015-11-05T08:52:58.683-08:00"}'
  recorded_at: Thu, 05 Nov 2015 16:52:58 GMT
recorded_with: VCR 2.9.3
