---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/account/5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer <OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - dbaf97fc-d8db-6521-9772-94c09272a410
      Qbo-Version:
      - '1803.859'
      Service-Time:
      - total=29, db=13
    body:
      encoding: ASCII-8BIT
      string: '{"Account":{"Name":"Fees Billed","SubAccount":false,"FullyQualifiedName":"Fees
        Billed","Active":true,"Classification":"Revenue","AccountType":"Income","AccountSubType":"ServiceFeeIncome","CurrentBalance":0,"CurrentBalanceWithSubAccounts":0,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"5","SyncToken":"0","MetaData":{"CreateTime":"2018-03-04T14:42:07-08:00","LastUpdatedTime":"2018-03-04T14:42:07-08:00"}},"time":"2018-04-08T14:17:18.714-07:00"}'
  recorded_at: Sun, 08 Apr 2018 21:17:18 GMT
- request:
    method: post
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/account
    body:
      encoding: UTF-8
      string: '{"Id":"5","SyncToken":"0","sparse":true,"Active":false,"Name":"Fees
        Billed"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer <OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - 6ac2ce11-d84d-c5d7-cb3f-e7dac0b57d6b
      Qbo-Version:
      - '1803.859'
      Service-Time:
      - total=280, db=190
    body:
      encoding: ASCII-8BIT
      string: '{"Account":{"Name":"Fees Billed (deleted)","SubAccount":false,"FullyQualifiedName":"Fees
        Billed (deleted)","Active":false,"Classification":"Revenue","AccountType":"Income","AccountSubType":"ServiceFeeIncome","CurrentBalance":0,"CurrentBalanceWithSubAccounts":0,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"5","SyncToken":"1","MetaData":{"CreateTime":"2018-03-04T14:42:07-08:00","LastUpdatedTime":"2018-04-08T14:17:19-07:00"}},"time":"2018-04-08T14:17:19.089-07:00"}'
  recorded_at: Sun, 08 Apr 2018 21:17:19 GMT
recorded_with: VCR 4.0.0
