---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/account/5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="6b15306b976204b8c31553465de0030f",
        oauth_signature="3x5b%2F79DvhLSURy4R3DBnoTL4hQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1515183332", oauth_token="<ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - 54cf4555-5adc-01c2-1e08-a1cb1db5178a
      Qbo-Version:
      - '1712.1280'
      Service-Time:
      - total=118, db=79
    body:
      encoding: UTF-8
      string: '{"Account":{"Name":"Fees Billed","SubAccount":false,"FullyQualifiedName":"Fees
        Billed","Active":true,"Classification":"Revenue","AccountType":"Income","AccountSubType":"ServiceFeeIncome","CurrentBalance":0,"CurrentBalanceWithSubAccounts":0,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"5","SyncToken":"0","MetaData":{"CreateTime":"2015-10-01T14:42:07-07:00","LastUpdatedTime":"2015-10-01T14:42:07-07:00"}},"time":"2018-01-05T12:15:33.542-08:00"}'
  recorded_at: Fri, 05 Jan 2018 20:15:33 GMT
- request:
    method: post
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/account
    body:
      encoding: UTF-8
      string: '{"Id":"5","SyncToken":"0","sparse":true,"Active":false,"Name":"Fees
        Billed"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="d7b906e6eb9e299f68e48de63e69d4fb",
        oauth_signature="SAKZT%2B59EftgzYEa7aiuD%2FzgkEo%3D", oa[...]
