---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/employee/55
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="bfe9d85018f891f6eaef6f5fd4d0773a",
        oauth_signature="fwPfwWFGqE0sLTF1%2FpyFImbZqhg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1475578275", oauth_token="<ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - gw-31a35f66-002e-4b5b-a7bb-7213a68cad7c
      Qbo-Version:
      - '1608.1652'
    body:
      encoding: UTF-8
      string: '{"Employee":{"BillableTime":false,"domain":"QBO","sparse":false,"Id":"55","SyncToken":"0","MetaData":{"CreateTime":"2015-10-07T11:21:48-07:00","LastUpdatedTime":"2015-10-07T11:21:48-07:00"},"GivenName":"Emily","FamilyName":"Platt","DisplayName":"Emily
        Platt","PrintOnCheckName":"Emily Platt","Active":true},"time":"2016-10-04T03:51:16.268-07:00"}'
  recorded_at: Tue, 04 Oct 2016 10:51:16 GMT
- request:
    method: post
    uri: https://sandbox-quickbooks.api.intuit.com/v3/employee
    body:
      encoding: UTF-8
      string: '{"Id":"55","SyncToken":"0","sparse":true,"Active":false}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="9ec8f13f7211a8e0b3fdf46e75ded4e3",
        oauth_signature="99V%2FuFCW7Gc9tD6sdyYo6Ao8ygk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1475578276", oauth_token="<ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - gw-f388af9c-7f70-40a1-a3b4-840d8d1eb0ac
      Qbo-Version:
      - '1608.1652'
    body:
      encoding: UTF-8
      string: '{"Employee":{"BillableTime":false,"domain":"QBO","sparse":false,"Id":"55","SyncToken":"1","MetaData":{"CreateTime":"2015-10-07T11:21:48-07:00","LastUpdatedTime":"2016-10-04T03:51:17-07:00"},"GivenName":"Emily","FamilyName":"Platt","DisplayName":"Emily
        Platt (deleted)","PrintOnCheckName":"Emily Platt","Active":false},"time":"2016-10-04T03:51:17.109-07:00"}'
  recorded_at: Tue, 04 Oct 2016 10:51:17 GMT
recorded_with: VCR 2.9.3
