---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/employee/55
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer <OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - 2af7d103-8d6a-b779-cb8e-0b18001854ef
      Qbo-Version:
      - '1803.859'
      Service-Time:
      - total=47, db=20
    body:
      encoding: ASCII-8BIT
      string: '{"Employee":{"BillableTime":false,"domain":"QBO","sparse":false,"Id":"55","SyncToken":"0","MetaData":{"CreateTime":"2018-03-10T11:21:48-08:00","LastUpdatedTime":"2018-03-10T11:21:48-08:00"},"GivenName":"Emily","FamilyName":"Platt","DisplayName":"Emily
        Platt","PrintOnCheckName":"Emily Platt","Active":true},"time":"2018-04-08T14:17:17.514-07:00"}'
  recorded_at: Sun, 08 Apr 2018 21:17:17 GMT
- request:
    method: post
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/employee
    body:
      encoding: UTF-8
      string: '{"Id":"55","SyncToken":"0","sparse":true,"Active":false}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer <OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - bd417f36-a0dd-1d39-93c8-d4236237012f
      Qbo-Version:
      - '1803.859'
      Service-Time:
      - total=435, db=276
    body:
      encoding: ASCII-8BIT
      string: '{"Employee":{"BillableTime":false,"domain":"QBO","sparse":false,"Id":"55","SyncToken":"1","MetaData":{"CreateTime":"2018-03-10T11:21:48-08:00","LastUpdatedTime":"2018-04-08T14:17:18-07:00"},"GivenName":"Emily","FamilyName":"Platt","DisplayName":"Emily
        Platt (deleted)","PrintOnCheckName":"Emily Platt","Active":false},"time":"2018-04-08T14:17:17.918-07:00"}'
  recorded_at: Sun, 08 Apr 2018 21:17:18 GMT
recorded_with: VCR 4.0.0
