---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/-COMPANY_ID-/customer/68?minorversion=8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer <OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Intuit-Tid:
      - 1-5f732fd6-65011cec14899fa97da89e4b
      X-Spanid:
      - 9463818d-8cc4-47ad-8517-1ef476435c0b
      Qbo-Version:
      - '1944.190'
      Service-Time:
      - total=59, db=36
    body:
      encoding: ASCII-8BIT
      string: '{"Customer":{"Taxable":true,"Job":false,"BillWithParent":false,"Balance":0,"BalanceWithJobs":0,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"PreferredDeliveryMethod":"Print","domain":"QBO","sparse":false,"Id":"68","SyncToken":"0","MetaData":{"CreateTime":"2020-09-29T04:48:37-07:00","LastUpdatedTime":"2020-09-29T04:48:37-07:00"},"FullyQualifiedName":"Doe2,
        Jane","DisplayName":"Doe2, Jane","PrintOnCheckName":"Doe2, Jane","Active":true,"DefaultTaxCodeRef":{"value":"2"}},"time":"2020-09-29T06:00:06.413-07:00"}'
  recorded_at: Tue, 29 Sep 2020 13:00:06 GMT
- request:
    method: post
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/-COMPANY_ID-/customer?minorversion=8
    body:
      encoding: UTF-8
      string: '{"DisplayName":"Jack Moe","PrimaryPhone":{"FreeFormNumber":"(415) 444-1234"},"Id":"68","SyncToken":"0"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer <OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Intuit-Tid:
      - 1-5f732fd7-65cd2d121e30caec668f6488
      X-Spanid:
      - 2dae623e-a04e-436f-aa60-c8b6997958be
      Qbo-Version:
      - '1944.190'
      Service-Time:
      - total=64, db=40
    body:
      encoding: ASCII-8BIT
      string: '{"Customer":{"Taxable":true,"Job":false,"BillWithParent":false,"Balance":0,"BalanceWithJobs":0,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"PreferredDeliveryMethod":"Print","domain":"QBO","sparse":false,"Id":"68","SyncToken":"1","MetaData":{"CreateTime":"2020-09-29T04:48:37-07:00","LastUpdatedTime":"2020-09-29T06:00:07-07:00"},"FullyQualifiedName":"Jack
        Moe","DisplayName":"Jack Moe","PrintOnCheckName":"Jack Moe","Active":true,"PrimaryPhone":{"FreeFormNumber":"(415)
        444-1234"},"DefaultTaxCodeRef":{"value":"2"}},"time":"2020-09-29T06:00:07.195-07:00"}'
  recorded_at: Tue, 29 Sep 2020 13:00:07 GMT
recorded_with: VCR 6.0.0
