---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/account/5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer <OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - 78f9e0e3-6a15-59e8-ed84-9690bb78cb5c
      Qbo-Version:
      - '1803.898'
      Service-Time:
      - total=44, db=21
    body:
      encoding: ASCII-8BIT
      string: '{"Account":{"Name":"Fees Billed (deleted)","SubAccount":false,"FullyQualifiedName":"Fees
        Billed (deleted)","Active":false,"Classification":"Revenue","AccountType":"Income","AccountSubType":"ServiceFeeIncome","CurrentBalance":0,"CurrentBalanceWithSubAccounts":0,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"5","SyncToken":"1","MetaData":{"CreateTime":"2018-03-04T14:42:07-08:00","LastUpdatedTime":"2018-04-08T14:17:19-07:00"}},"time":"2018-04-17T08:03:51.193-07:00"}'
  recorded_at: Tue, 17 Apr 2018 15:03:51 GMT
- request:
    method: post
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/account
    body:
      encoding: UTF-8
      string: '{"Id":"5","SyncToken":"1","sparse":true,"Active":false,"Name":"Fees
        Billed (deleted)"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer <OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - af23eb47-6bff-d693-43d6-9e6b46964695
      Qbo-Version:
      - '1803.898'
      Service-Time:
      - total=235, db=127
    body:
      encoding: ASCII-8BIT
      string: '{"Account":{"Name":"Fees Billed (deleted)","SubAccount":false,"FullyQualifiedName":"Fees
        Billed (deleted)","Active":false,"Classification":"Revenue","AccountType":"Income","AccountSubType":"ServiceFeeIncome","CurrentBalance":0,"CurrentBalanceWithSubAccounts":0,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"5","SyncToken":"1","MetaData":{"CreateTime":"2018-03-04T14:42:07-08:00","LastUpdatedTime":"2018-04-08T14:17:19-07:00"}},"time":"2018-04-17T08:03:51.504-07:00"}'
  recorded_at: Tue, 17 Apr 2018 15:03:51 GMT
recorded_with: VCR 4.0.0
