---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/employee/55
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer <OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - 99801ab3-eb40-32e4-2f57-1196d06d39d0
      Qbo-Version:
      - '1803.898'
      Service-Time:
      - total=117, db=67
    body:
      encoding: ASCII-8BIT
      string: '{"Employee":{"BillableTime":false,"domain":"QBO","sparse":false,"Id":"55","SyncToken":"1","MetaData":{"CreateTime":"2018-03-10T11:21:48-08:00","LastUpdatedTime":"2018-04-08T14:17:18-07:00"},"GivenName":"Emily","FamilyName":"Platt","DisplayName":"Emily
        Platt (deleted)","PrintOnCheckName":"Emily Platt","Active":false},"time":"2018-04-17T08:03:49.663-07:00"}'
  recorded_at: Tue, 17 Apr 2018 15:03:49 GMT
- request:
    method: post
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/employee
    body:
      encoding: UTF-8
      string: '{"Id":"55","SyncToken":"1","sparse":true,"Active":false}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer <OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - 99a3c4c6-11ca-7990-809f-930ae7618e60
      Qbo-Version:
      - '1803.898'
      Service-Time:
      - total=789, db=502
    body:
      encoding: ASCII-8BIT
      string: '{"Employee":{"BillableTime":false,"domain":"QBO","sparse":false,"Id":"55","SyncToken":"1","MetaData":{"CreateTime":"2018-03-10T11:21:48-08:00","LastUpdatedTime":"2018-04-08T14:17:18-07:00"},"GivenName":"Emily","FamilyName":"Platt","DisplayName":"Emily
        Platt (deleted)","PrintOnCheckName":"Emily Platt","Active":false},"time":"2018-04-17T08:03:50.090-07:00"}'
  recorded_at: Tue, 17 Apr 2018 15:03:50 GMT
recorded_with: VCR 4.0.0
