---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/invoice/266
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer <OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Intuit-Tid:
      - 1-5f73306a-7ff89698ceb0b298f3598e2d
      X-Spanid:
      - d314468d-fd2f-46a9-b61d-8d0594430229
      Qbo-Version:
      - '1944.190'
      Service-Time:
      - total=85, db=54
    body:
      encoding: ASCII-8BIT
      string: '{"Invoice":{"AllowIPNPayment":false,"AllowOnlinePayment":false,"AllowOnlineCreditCardPayment":false,"AllowOnlineACHPayment":false,"domain":"QBO","sparse":false,"Id":"266","SyncToken":"0","MetaData":{"CreateTime":"2020-09-29T05:58:07-07:00","LastUpdatedTime":"2020-09-29T05:58:07-07:00"},"CustomField":[{"DefinitionId":"1","Name":"Crew
        #","Type":"StringType"}],"DocNumber":"1043","TxnDate":"2020-09-29","CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"LinkedTxn":[],"Line":[{"Id":"1","LineNum":1,"Amount":100.00,"DetailType":"SalesItemLineDetail","SalesItemLineDetail":{"ItemRef":{"value":"1","name":"Services"},"TaxCodeRef":{"value":"NON"}}},{"Amount":100.00,"DetailType":"SubTotalLineDetail","SubTotalLineDetail":{}}],"TxnTaxDetail":{"TotalTax":0},"CustomerRef":{"value":"1","name":"Amy''s
        Bird Sanctuary"},"BillAddr":{"Id":"2","Line1":"4581 Finch St.","City":"Bayshore","CountrySubDivisionCode":"CA","PostalCode":"94326","Lat":"INVALID","Long":"INVALID"},"ShipAddr":{"Id":"2","Line1":"4581
        Finch St.","City":"Bayshore","CountrySubDivisionCode":"CA","PostalCode":"94326","Lat":"INVALID","Long":"INVALID"},"DueDate":"2020-10-29","TotalAmt":100.00,"ApplyTaxAfterDiscount":false,"PrintStatus":"NeedToPrint","EmailStatus":"NotSet","Balance":100.00},"time":"2020-09-29T06:02:34.562-07:00"}'
  recorded_at: Tue, 29 Sep 2020 13:02:34 GMT
- request:
    method: post
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/invoice?operation=delete
    body:
      encoding: UTF-8
      string: '{"Id":"266","SyncToken":"0"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer <OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Intuit-Tid:
      - 1-5f73306b-8ed915e078780417fd11b62e
      X-Spanid:
      - 1b2224f7-e1da-4764-b3b5-eb8876ed4e2b
      Qbo-Version:
      - '1944.190'
      Service-Time:
      - total=166, db=112
    body:
      encoding: ASCII-8BIT
      string: '{"Invoice":{"domain":"QBO","status":"Deleted","Id":"266"},"time":"2020-09-29T06:02:35.106-07:00"}'
  recorded_at: Tue, 29 Sep 2020 13:02:35 GMT
recorded_with: VCR 6.0.0
