---
http_interactions:
- request:
    method: post
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/-COMPANY_ID-/invoice?operation=delete
    body:
      encoding: UTF-8
      string: '{"Id":213,"SyncToken":"0"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer <OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Intuit-Upstream-Locality-Region:
      - us-west-2
      X-Spanid:
      - cd6ee940-1b05-bc20-1af0-fd56e654bdae
      Intuit-Tid:
      - 1-6a5f7d1b-31d217e33b576e2d6b40ff66
    body:
      encoding: ASCII-8BIT
      string: '{"Invoice":{"domain":"QBO","status":"Deleted","Id":"213"},"time":"2026-07-21T07:07:23.722-07:00"}'
  recorded_at: Tue, 21 Jul 2026 14:07:23 GMT
recorded_with: VCR 6.4.0
