---
http_interactions:
- request:
    method: post
    uri: https://sandbox-quickbooks.api.intuit.com/v3/customer?requestid=
    body:
      encoding: UTF-8
      string: '{"DisplayName":"Doe5, Jane"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer <OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Intuit-Tid:
      - 1-5f732f68-d4d3c70ce72c15e07d2bc328
      X-Spanid:
      - 4be2a28d-7824-4414-851d-cd17e6ea3f07
      Qbo-Version:
      - '1944.190'
      Service-Time:
      - total=56, db=18
    body:
      encoding: ASCII-8BIT
      string: '{"Customer":{"Taxable":true,"Job":false,"BillWithParent":false,"Balance":0,"BalanceWithJobs":0,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"PreferredDeliveryMethod":"Print","domain":"QBO","sparse":false,"Id":"70","SyncToken":"0","MetaData":{"CreateTime":"2020-09-29T05:58:16-07:00","LastUpdatedTime":"2020-09-29T05:58:16-07:00"},"FullyQualifiedName":"Doe5,
        Jane","DisplayName":"Doe5, Jane","PrintOnCheckName":"Doe5, Jane","Active":true,"DefaultTaxCodeRef":{"value":"2"}},"time":"2020-09-29T05:58:16.187-07:00"}'
  recorded_at: Tue, 29 Sep 2020 12:58:16 GMT
recorded_with: VCR 6.0.0
