---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/query?query=SELECT%20*%20FROM%20Customer%20WHERE%20DisplayName%20=%20%27Amy%5C%27s%20Bird%20Sanctuary%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer <OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - a12af020-56e4-5f4d-eb0e-394addabb24e
      Qbo-Version:
      - '1803.859'
      Service-Time:
      - total=396, db=435
    body:
      encoding: UTF-8
      string: '{"QueryResponse":{"Customer":[{"Taxable":true,"BillAddr":{"Id":"2","Line1":"4581
        Finch St.","City":"Bayshore","CountrySubDivisionCode":"CA","PostalCode":"94326","Lat":"INVALID","Long":"INVALID"},"ShipAddr":{"Id":"2","Line1":"4581
        Finch St.","City":"Bayshore","CountrySubDivisionCode":"CA","PostalCode":"94326","Lat":"INVALID","Long":"INVALID"},"Job":false,"BillWithParent":false,"Balance":239.00,"BalanceWithJobs":239.00,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"PreferredDeliveryMethod":"Print","domain":"QBO","sparse":false,"Id":"1","SyncToken":"0","MetaData":{"CreateTime":"2018-03-04T16:48:43-08:00","LastUpdatedTime":"2018-03-11T13:39:32-07:00"},"GivenName":"Amy","FamilyName":"Lauterbach","FullyQualifiedName":"Amy''s
        Bird Sanctuary","CompanyName":"Amy''s Bird Sanctuary","DisplayName":"Amy''s
        Bird Sanctuary","PrintOnCheckName":"Amy''s Bird Sanctuary","Active":true,"PrimaryPhone":{"FreeFormNumber":"(650)
        555-3311"},"PrimaryEmailAddr":{"Address":"Birds@Intuit.com"}}],"startPosition":1,"maxResults":1},"time":"2018-04-08T14:17:07.056-07:00"}'
  recorded_at: Sun, 08 Apr 2018 21:17:07 GMT
recorded_with: VCR 4.0.0
