---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/query?query=SELECT%20*%20FROM%20Customer%20WHERE%20DisplayName%20=%20%27Amy%5C%27s%20Bird%20Sanctuary%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="eabce8ba938337fc649f90db531d0c31",
        oauth_signature="RNa%2B5F2z%2BLq60wERmIqVDxaMFuU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1515425233", oauth_token="<ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - f1f6485c-12e7-7698-0db8-4054b1f94be2
      Qbo-Version:
      - '1712.1280'
      Service-Time:
      - total=107, db=65
    body:
      encoding: UTF-8
      string: '{"QueryResponse":{"Customer":[{"Taxable":true,"BillAddr":{"Id":"2","Line1":"4581
        Finch St.","City":"Bayshore","CountrySubDivisionCode":"CA","PostalCode":"94326","Lat":"INVALID","Long":"INVALID"},"ShipAddr":{"Id":"2","Line1":"4581
        Finch St.","City":"Bayshore","CountrySubDivisionCode":"CA","PostalCode":"94326","Lat":"INVALID","Long":"INVALID"},"Job":false,"BillWithParent":false,"Balance":239.00,"BalanceWithJobs":239.00,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"PreferredDeliveryMethod":"Print","domain":"QBO","sparse":false,"Id":"1","SyncToken":"0","MetaData":{"CreateTime":"2015-10-01T16:48:43-07:00","LastUpdatedTime":"2015-11-05T07:12:28-08:00"},"GivenName":"Amy","FamilyName":"Lauterbach","FullyQualifiedName":"Amy''s
        Bird Sanctuary","CompanyName":"Amy''s Bird Sanctuary","DisplayName":"Amy''s
        Bird Sanctuary","PrintOnCheckName":"Amy''s Bird Sanctuary","Active":true,"PrimaryPhone":{"FreeFormNumber":"(650)
        555-3311"},"PrimaryEmailAddr":{"Address":"Birds@Intuit.com"}}],"startPosition":1,"maxResults":1},"time":"2018-01-08T07:27:14.510-08:00"}'
  recorded_at: Mon, 08 Jan 2018 15:27:14 GMT
recorded_with: VCR 3.0.3
