---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/customer/5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="477b3a2367a4d84da99e318df2e08481",
        oauth_signature="GRC1xDHmxIOoZfiBQNvKKnaweDc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446723774", oauth_token="<ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - fc48d93c-6246-40a0-a3e1-ffceb115ac7b
      Qbo-Version:
      - '1510.283'
    body:
      encoding: ASCII-8BIT
      string: '{"Customer":{"Taxable":true,"BillAddr":{"Id":"6","Line1":"25 Court
        St.","City":"Tucson","CountrySubDivisionCode":"AZ","PostalCode":"85719","Lat":"32.2841116","Long":"-110.9744298"},"ShipAddr":{"Id":"6","Line1":"25
        Court St.","City":"Tucson","CountrySubDivisionCode":"AZ","PostalCode":"85719","Lat":"32.2841116","Long":"-110.9744298"},"Job":false,"BillWithParent":false,"Balance":0,"BalanceWithJobs":0,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"PreferredDeliveryMethod":"Print","domain":"QBO","sparse":false,"Id":"5","SyncToken":"1","MetaData":{"CreateTime":"2015-10-01T16:54:59-07:00","LastUpdatedTime":"2015-10-08T13:28:29-07:00"},"GivenName":"Peter","FamilyName":"Dukes","FullyQualifiedName":"Dukes
        Basketball Camp","CompanyName":"Dukes Basketball Camp","DisplayName":"Dukes
        Basketball Camp","PrintOnCheckName":"Dukes Basketball Camp","Active":true,"PrimaryPhone":{"FreeFormNumber":"(520)
        420-5638"},"PrimaryEmailAddr":{"Address":"Dukes_bball@intuit.com"},"DefaultTaxCodeRef":{"value":"2"}},"time":"2015-11-05T03:42:57.026-08:00"}'
  recorded_at: Thu, 05 Nov 2015 11:42:58 GMT
recorded_with: VCR 2.9.3
