---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/customer/60
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="4daad0ad5f82c1daf1249ce381d5e1bf",
        oauth_signature="Z9GX5QkxgfJ6nqaln1nFyjtfFQ8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446734634", oauth_token="<ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - 650bf326-5865-4f66-82bf-98f7dbfcce53
      Qbo-Version:
      - '1510.283'
    body:
      encoding: ASCII-8BIT
      string: '{"Customer":{"Taxable":true,"Job":false,"BillWithParent":false,"Balance":0,"BalanceWithJobs":0,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"PreferredDeliveryMethod":"Print","domain":"QBO","sparse":false,"Id":"60","SyncToken":"0","MetaData":{"CreateTime":"2015-11-05T05:45:17-08:00","LastUpdatedTime":"2015-11-05T05:45:17-08:00"},"FullyQualifiedName":"Jack
        Doe","DisplayName":"Jack Doe","PrintOnCheckName":"Jack Doe","Active":true,"DefaultTaxCodeRef":{"value":"2"}},"time":"2015-11-05T06:43:56.787-08:00"}'
  recorded_at: Thu, 05 Nov 2015 14:43:56 GMT
- request:
    method: post
    uri: https://sandbox-quickbooks.api.intuit.com/v3/customer
    body:
      encoding: UTF-8
      string: '{"DisplayName":"Jack Doe","PrimaryPhone":{"FreeFormNumber":"(415) 444-1234"},"Id":"60","SyncToken":"0"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="7bb6f378678ccf3efb21dee670ca087b",
        oauth_signature="5JyB1bSvnPBH76ozjDQJX2lF4So%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446734636", oauth_token="<ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - c3eeab8c-a7d1-4ccc-83e3-0a049bdca59e
      Qbo-Version:
      - '1510.283'
    body:
      encoding: ASCII-8BIT
      string: '{"Customer":{"Taxable":true,"Job":false,"BillWithParent":false,"Balance":0,"BalanceWithJobs":0,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"PreferredDeliveryMethod":"Print","domain":"QBO","sparse":false,"Id":"60","SyncToken":"1","MetaData":{"CreateTime":"2015-11-05T05:45:17-08:00","LastUpdatedTime":"2015-11-05T06:43:57-08:00"},"FullyQualifiedName":"Jack
        Doe","DisplayName":"Jack Doe","PrintOnCheckName":"Jack Doe","Active":true,"PrimaryPhone":{"FreeFormNumber":"(415)
        444-1234"},"DefaultTaxCodeRef":{"value":"2"}},"time":"2015-11-05T06:43:57.722-08:00"}'
  recorded_at: Thu, 05 Nov 2015 14:43:57 GMT
recorded_with: VCR 2.9.3
