---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/sales_receipt/47
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="ce6974184dc0b107835510193a313523",
        oauth_signature="6mf4Rw9%2B8MppL1TV4eIkeYKKxCE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1459175598", oauth_token="<ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json
      Intuit-Tid:
      - gw-056bd2fe-0031-4748-ada3-814492d1acdc
    body:
      encoding: ASCII-8BIT
      string: '{"Fault":{"Error":[{"Message":"An application error has occurred while
        processing your request","Detail":"System Failure Error: Could not find resource
        for relative : /v3/company/<COMPANY_ID>/sales_receipt/47 of full path: https://internal.sandbox.qbo.intuit.com/qbo50/v3/company/<COMPANY_ID>/sales_receipt/47","code":"10000"}],"type":"SystemFault"},"time":"2016-03-28T07:33:19.968-07:00"}'
  recorded_at: Mon, 28 Mar 2016 14:33:20 GMT
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/SalesReceipt/47
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="9031548a27800a23857882a4459f081e",
        oauth_signature="MRf251rksDP7Tlr5vqwhNQJ0Q90%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1459178855", oauth_token="<ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json
      Intuit-Tid:
      - gw-e21656e7-8d83-4ac7-95e1-40d90264310a
    body:
      encoding: ASCII-8BIT
      string: '{"Fault":{"Error":[{"Message":"An application error has occurred while
        processing your request","Detail":"System Failure Error: Could not find resource
        for relative : /v3/company/<COMPANY_ID>/SalesReceipt/47 of full path: https://internal.sandbox.qbo.intuit.com/qbo50/v3/company/<COMPANY_ID>/SalesReceipt/47","code":"10000"}],"type":"SystemFault"},"time":"2016-03-28T08:27:37.281-07:00"}'
  recorded_at: Mon, 28 Mar 2016 15:27:37 GMT
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/query?query=SELECT%20*%20FROM%20SalesReceipt%20MAXRESULTS%201000%20STARTPOSITION%201
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="6ea538f6b73088ab93217f0dab9048d9",
        oauth_signature="zk900l7aeoiZQbmwk644%2BIKgqO4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1459179548", oauth_token="<ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - gw-3a11a241-9e4a-4397-ac6a-22bb974199d2
      Qbo-Version:
      - '1603.483'
    body:
      encoding: ASCII-8BIT
      string: '{"QueryResponse":{"SalesReceipt":[{"domain":"QBO","sparse":false,"Id":"47","SyncToken":"0","MetaData":{"CreateTime":"2015-10-07T11:40:52-07:00","LastUpdatedTime":"2015-10-07T11:40:52-07:00"},"CustomField":[{"DefinitionId":"1","Name":"Crew
        #","Type":"StringType"}],"DocNumber":"1014","TxnDate":"2015-10-05","CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"Line":[{"Id":"1","LineNum":1,"Description":"Weekly Gardening
        Service","Amount":140.00,"DetailType":"SalesItemLineDetail","SalesItemLineDetail":{"ItemRef":{"value":"6","name":"Gardening"},"UnitPrice":35,"Qty":4,"TaxCodeRef":{"value":"NON"}}},{"Amount":140.00,"DetailType":"SubTotalLineDetail","SubTotalLineDetail":{}}],"TxnTaxDetail":{"TotalTax":0},"CustomerRef":{"value":"4","name":"Diego
        Rodriguez"},"CustomerMemo":{"value":"Thank you for your business and have
        a great day!"},"BillAddr":{"Id":"66","Line1":"Diego Rodriguez","Line2":"321
        Channing","Line3":"Palo Alto, CA  94303","Lat":"37.4530553","Long":"-122.1178261"},"TotalAmt":140.00,"ApplyTaxAfterDiscount":false,"PrintStatus":"NotSet","EmailStatus":"NotSet","BillEmail":{"Address":"Diego@Rodriguez.com"},"Balance":0,"DepositToAccountRef":{"value":"4","name":"Undeposited
        Funds"}},{"domain":"QBO","sparse":false,"Id":"38","SyncToken":"0","MetaData":{"CreateTime":"2015-10-07T11:15:46-07:00","LastUpdatedTime":"2015-10-07T11:15:46-07:00"},"CustomField":[{"DefinitionId":"1","Name":"Crew
        #","Type":"StringType"}],"DocNumber":"1011","TxnDate":"2015-10-07","CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"Line":[{"Id":"1","LineNum":1,"Description":"Pest Control
        Services","Amount":87.50,"DetailType":"SalesItemLineDetail","SalesItemLineDetail":{"ItemRef":{"value":"10","name":"Pest
        Control"},"UnitPrice":35,"Qty":2.5,"TaxCodeRef":{"value":"NON"}}},{"Amount":87.50,"DetailType":"SubTotalLineDetail","SubTotalLineDetail":{}},{"Amount":8.75,"DetailType":"DiscountLineDetail","DiscountLineDetail":{"PercentBased":true,"DiscountPercent":10,"DiscountAccountRef":{"value":"86","name":"Discounts
        given"}}}],"TxnTaxDetail":{"TotalTax":0},"CustomerRef":{"value":"15","name":"Pye''s
        Cakes"},"CustomerMemo":{"value":"Thank you for your business and have a great
        day!"},"BillAddr":{"Id":"57","Line1":"Karen Pye","Line2":"Pye''s Cakes","Line3":"350
        Mountain View Dr.","Line4":"South Orange, NJ  07079","Lat":"40.7489277","Long":"-74.2609903"},"ShipAddr":{"Id":"15","Line1":"350
        Mountain View Dr.","City":"South Orange","CountrySubDivisionCode":"NJ","PostalCode":"07079","Lat":"40.7633073","Long":"-74.2426072"},"TotalAmt":78.75,"ApplyTaxAfterDiscount":false,"PrintStatus":"NotSet","EmailStatus":"NotSet","BillEmail":{"Address":"karen@pye.com"},"Balance":0,"PaymentMethodRef":{"value":"1","name":"Cash"},"DepositToAccountRef":{"value":"4","name":"Undeposited
        Funds"}},{"domain":"QBO","sparse":false,"Id":"17","SyncToken":"0","MetaData":{"CreateTime":"2015-10-06T15:12:39-07:00","LastUpdatedTime":"2015-10-06T15:12:39-07:00"},"CustomField":[{"DefinitionId":"1","Name":"Crew
        #","Type":"StringType"}],"DocNumber":"1008","TxnDate":"2015-09-14","CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"Line":[{"Id":"1","LineNum":1,"Description":"Custom Design","Amount":225.00,"DetailType":"SalesItemLineDetail","SalesItemLineDetail":{"ItemRef":{"value":"4","name":"Design"},"UnitPrice":75,"Qty":3,"TaxCodeRef":{"value":"NON"}}},{"Amount":225.00,"DetailType":"SubTotalLineDetail","SubTotalLineDetail":{}}],"TxnTaxDetail":{"TotalTax":0},"CustomerRef":{"value":"14","name":"Kate
        Whelan"},"CustomerMemo":{"value":"Thank you for your business and have a great
        day!"},"BillAddr":{"Id":"54","Line1":"Kate Whelan","Line2":"45 First St.","Line3":"Menlo
        Park, CA  94304 USA","Lat":"37.3813444","Long":"-122.1802812"},"ShipAddr":{"Id":"14","Line1":"45
        First St.","City":"Menlo Park","Country":"USA","CountrySubDivisionCode":"CA","PostalCode":"94304","Lat":"37.4585825","Long":"-122.1352789"},"TotalAmt":225.00,"ApplyTaxAfterDiscount":false,"PrintStatus":"NeedToPrint","EmailStatus":"NotSet","BillEmail":{"Address":"Kate@Whelan.com"},"Balance":0,"DepositToAccountRef":{"value":"35","name":"Checking"}},{"domain":"QBO","sparse":false,"Id":"11","SyncToken":"0","MetaData":{"CreateTime":"2015-10-06T14:59:48-07:00","LastUpdatedTime":"2015-10-06T14:59:48-07:00"},"CustomField":[{"DefinitionId":"1","Name":"Crew
        #","Type":"StringType"}],"DocNumber":"1003","TxnDate":"2015-10-04","CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"Line":[{"Id":"1","LineNum":1,"Description":"Custom Design","Amount":337.50,"DetailType":"SalesItemLineDetail","SalesItemLineDetail":{"ItemRef":{"value":"4","name":"Design"},"UnitPrice":75,"Qty":4.5,"TaxCodeRef":{"value":"NON"}}},{"Amount":337.50,"DetailType":"SubTotalLineDetail","SubTotalLineDetail":{}}],"TxnTaxDetail":{"TotalTax":0},"CustomerRef":{"value":"6","name":"Dylan
        Sollfrank"},"CustomerMemo":{"value":"Thank you for your business and have
        a great day!"},"BillAddr":{"Id":"49","Line1":"Dylan Sollfrank","Lat":"INVALID","Long":"INVALID"},"TotalAmt":337.50,"ApplyTaxAfterDiscount":false,"PrintStatus":"NotSet","EmailStatus":"NotSet","Balance":0,"PaymentMethodRef":{"value":"2","name":"Check"},"PaymentRefNum":"10264","DepositToAccountRef":{"value":"35","name":"Checking"}}],"startPosition":1,"maxResults":4},"time":"2016-03-28T08:39:09.682-07:00"}'
  recorded_at: Mon, 28 Mar 2016 15:39:09 GMT
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/salesreceipt/17
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="ae80f9aac62b568a09be522a36897349",
        oauth_signature="yQWyPWDiaQqZax%2FJ6WawNiOKum8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1459180903", oauth_token="<ACCESS_TOKE[...]
- request:
    method: post
    uri: https://sandbox-quickbooks.api.intuit.com/v3/salesreceipt
    body:
      encoding: UTF-8
      string: '{"Line":[{"Description":"Custom Design","Amount":337.5,"DetailType":"SalesItemLineDetail","SalesItemLineDetail":{"ItemRef":{"value":"4","name":"Design"},"UnitPrice":75,"Qty":4.5,"TaxCodeRef":{"value":"NON"}}}],"Id":"17","SyncToken":"0"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - OAuth oauth_consume[...]
