---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/query?%2BFROM%2BCustomer&query=SELECT%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="0a341ed224c3b37fe85b335fa9030f09",
        oauth_signature="BDSWvXB5yY3%2FwemJ0Tyu4B8FvhQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446737155", oauth_token="<ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/xml
      Intuit-Tid:
      - gw-f85bb33c-c8d8-4ce1-82a4-592966310655
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <IntuitResponse time="2015-11-05T07:25:56.106-08:00" xmlns="http://schema.intuit.com/finance/v3">
            <Fault type="AUTHENTICATION">
                <Error code="3200">
                    <Message>message=ApplicationAuthenticationFailed; errorCode=003200; statusCode=401</Message>
                    <Detail>SignatureBaseString: GET&amp;https%3A%2F%2Fsandbox-quickbooks.api.intuit.com%2Fv3%2Fcompany%2F<COMPANY_ID>%2Fquery&amp;%2520FROM%2520Customer%3D%26oauth_consumer_key%3D<CONSUMER_KEY>%26oauth_nonce%3D0a341ed224c3b37fe85b335fa9030f09%26oauth_signature_method%3DHMAC-SHA1%26oauth_timestamp%3D1446737155%26oauth_token%3D<ACCESS_TOKEN>%26oauth_version%3D1.0%26query%3DSELECT%2520</Detail>
                </Error>
            </Fault>
        </IntuitResponse>
  recorded_at: Thu, 05 Nov 2015 15:25:56 GMT
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/query?query=SELECT%20%26%20FROM%20Customer
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="ad0d4a7dde9ec50e6e145abf029ca326",
        oauth_signature="hmerDV0OVGkDp4ppREE2208LmAU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1477653197", oauth_token="<ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Intuit-Tid:
      - gw-4c9d3fc0-2db2-4b13-846f-c3b0e61f7862
    body:
      encoding: UTF-8
      string: '{"Fault":{"Error":[{"Message":"Error parsing query","Detail":"QueryParserError:
        Invalid content. Lexical error at line 1, column 9.  Encountered: \" \" (32),
        after : \"&\"","code":"4000"}],"type":"ValidationFault"},"time":"2016-10-28T04:13:18.417-07:00"}'
  recorded_at: Fri, 28 Oct 2016 11:13:18 GMT
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/customer/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="9c4c6f9a410675c2093032981b598ede",
        oauth_signature="S13dBvrDWvjb03CvdPblmLwIDjo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1477657887", oauth_token="12345", oauth_versi[...]
