---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/query?query=SELECT%20*%20FROM%20Customer
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth oauth_consumer_key="", oauth_nonce="6ea64bd9f062ac98fbb413d089d48e24",
        oauth_signature="ryEaIqTV10YCf0%2BLYx1%2Fb6j8l34%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446654233", oauth_token="<ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/xml
      Intuit-Tid:
      - gw-ebe6cc46-0178-44dd-a3d7-1b17accaa67e
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <IntuitResponse time="2015-11-04T08:23:54.434-08:00" xmlns="http://schema.intuit.com/finance/v3">
            <Fault type="VALIDATION">
                <Error code="3202">
                    <Message>message=EmptyField; errorCode=003202; statusCode=400</Message>
                    <Detail>oauth_consumer_key</Detail>
                </Error>
            </Fault>
        </IntuitResponse>
  recorded_at: Wed, 04 Nov 2015 16:23:54 GMT
- request:
    method: post
    uri: https://sandbox-quickbooks.api.intuit.com/v3/invoice
    body:
      encoding: UTF-8
      string: '{"BadJson":true}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="385f4cefece4ff97fa2bba882597294e",
        oauth_signature="N7iBGeLFcbkvXr7IyAJeT0I9Tj0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446736830", oauth_token="<ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Intuit-Tid:
      - 844de700-3548-4212-9fd1-5c38a5207f1d
    body:
      encoding: ASCII-8BIT
      string: '{"Fault":{"Error":[{"Message":"Request has invalid or unsupported property","Detail":"Property
        Name:Unrecognized field \"BadJson\" (class com.intuit.schema.finance.v3.Invoice),
        not marked as ignorable (67 known properties: \"DocNumber\", \"HomeTotalAmt\",
        \"TotalAmt\", \"TxnSource\", \"AllowOnlinePayment\", \"EmailSt specified is
        unsupported or invalid","code":"2010"}],"type":"ValidationFault"},"time":"2015-11-05T07:20:33.593-08:00"}'
  recorded_at: Thu, 05 Nov 2015 15:20:33 GMT
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/customer/1/5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="25fb764537ed8e2184d0f8ede501f3f6",
        oauth_signature="mrVc%2BoAdYd71ZfXch%2B%2BVDFlfVUc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446753317", oauth_token="<ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
      Intuit-Tid:
      - fd88ab6f-9571-42bf-acf1-557c60f92f78
      Qbo-Version:
      - '1510.283'
      Errorcause:
      - 'AuthenticationErrorGeneral: Internal Server Error , statusCode: 500'
      Message:
      - General Authentication Error
      Errorcode:
      - '100'
    body:
      encoding: ASCII-8BIT
      string: '<?xml version="1.0" encoding="UTF-8" standalone="yes"?><IntuitResponse
        xmlns="http://schema.intuit.com/finance/v3" time="2015-11-05T11:55:21.252-08:00"><Fault
        type="AuthenticationFault"><Error code="100"><Message>General Authentication
        Error</Message><Detail>AuthenticationErrorGeneral: Internal Server Error ,
        statusCode: 500</Detail></Error></Fault></IntuitResponse>'
  recorded_at: Thu, 05 Nov 2015 19:55:21 GMT
recorded_with: VCR 2.9.3
