---
http_interactions:
- request:
    method: post
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/customer?requestid=3cbd1fac-fe14-45e9-9175-6a65f3fd9f27
    body:
      encoding: UTF-8
      string: '{"DisplayName":"Doe, Jane"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer <OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - f88a5a2b-e7f7-3f43-2264-c986f463535e
      Qbo-Version:
      - '1803.859'
      Service-Time:
      - total=382, db=214
    body:
      encoding: ASCII-8BIT
      string: '{"Customer":{"Taxable":true,"Job":false,"BillWithParent":false,"Balance":0,"BalanceWithJobs":0,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"PreferredDeliveryMethod":"Print","domain":"QBO","sparse":false,"Id":"65","SyncToken":"0","MetaData":{"CreateTime":"2018-04-08T14:17:11-07:00","LastUpdatedTime":"2018-04-08T14:17:11-07:00"},"FullyQualifiedName":"Doe,
        Jane","DisplayName":"Doe, Jane","PrintOnCheckName":"Doe, Jane","Active":true,"DefaultTaxCodeRef":{"value":"2"}},"time":"2018-04-08T14:17:11.525-07:00"}'
  recorded_at: Sun, 08 Apr 2018 21:17:11 GMT
recorded_with: VCR 4.0.0
