---
http_interactions:
- request:
    method: post
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/invoice
    body:
      encoding: UTF-8
      string: '{"BadJson":true}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="06b71eed65c9712d11065a5c9759fd69",
        oauth_signature="EIkSuyMYM7vC9Ra7%2FXVnVFguddA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446738508", oauth_token="<ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Intuit-Tid:
      - c19e4734-a59b-4e53-8fb7-9efb879d10fd
    body:
      encoding: ASCII-8BIT
      string: '{"Fault":{"Error":[{"Message":"Request has invalid or unsupported property","Detail":"Property
        Name:Unrecognized field \"BadJson\" (class com.intuit.schema.finance.v3.Invoice),
        not marked as ignorable (67 known properties: \"DocNumber\", \"HomeTotalAmt\",
        \"TotalAmt\", \"TxnSource\", \"AllowOnlinePayment\", \"EmailSt specified is
        unsupported or invalid","code":"2010"}],"type":"ValidationFault"},"time":"2015-11-05T07:48:31.743-08:00"}'
  recorded_at: Thu, 05 Nov 2015 15:48:31 GMT
recorded_with: VCR 2.9.3
