<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>QBO Connect via OAuth2</title>
  </head>
  <body style="padding:15px;">
    <a href="<%= authorize_url(state: session[:state]) %>">
      <img src="connect-to-qbo.svg" alt="Connect to QuickBooks Online Button" width="400">
    </a>
  </body>
</html>
