<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>QBO Connect via OAuth2</title>

    <script type="text/javascript" src="<%= QboApi::APP_CENTER_BASE %>/Content/IA/intuit.ipp.anywhere-1.3.1.js"></script>
    <script>
      intuit.ipp.anywhere.setup({
        grantUrl: "<%= @client.authorization_uri(scope: 'com.intuit.quickbooks.accounting', state: session[:state]) %>",
        datasources: {
          quickbooks : true,
          payments : true
        }
      });
    </script>
  </head>
  <body>

    <ipp:connectToIntuit></ipp:connectToIntuit>
  </body>
</html>
