---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/query?query=SELECT%20*%20FROM%20SalesReceipt%20MAXRESULTS%201000%20STARTPOSITION%201
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="f39c1e3d583a267674f63592dea0111b",
        oauth_signature="2vWtRQBg7anwvw9fWaG3QzuV%2BPw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1459180688", oauth_token="<ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - gw-68725e6f-d237-4d4c-804f-7b16252c3c08
      Qbo-Version:
      - '1603.483'
    body:
      encoding: ASCII-8BIT
      string: '{"QueryResponse":{"SalesReceipt":[{"domain":"QBO","sparse":false,"Id":"47","SyncToken":"0","MetaData":{"CreateTime":"2015-10-07T11:40:52-07:00","LastUpdatedTime":"2015-10-07T11:40:52-07:00"},"CustomField":[{"DefinitionId":"1","Name":"Crew
        #","Type":"StringType"}],"DocNumber":"1014","TxnDate":"2015-10-05","CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"Line":[{"Id":"1","LineNum":1,"Description":"Weekly Gardening
        Service","Amount":140.00,"DetailType":"SalesItemLineDetail","SalesItemLineDetail":{"ItemRef":{"value":"6","name":"Gardening"},"UnitPrice":35,"Qty":4,"TaxCodeRef":{"value":"NON"}}},{"Amount":140.00,"DetailType":"SubTotalLineDetail","SubTotalLineDetail":{}}],"TxnTaxDetail":{"TotalTax":0},"CustomerRef":{"value":"4","name":"Diego
        Rodriguez"},"CustomerMemo":{"value":"Thank you for your business and have
        a great day!"},"BillAddr":{"Id":"66","Line1":"Diego Rodriguez","Line2":"321
        Channing","Line3":"Palo Alto, CA  94303","Lat":"37.4530553","Long":"-122.1178261"},"TotalAmt":140.00,"ApplyTaxAfterDiscount":false,"PrintStatus":"NotSet","EmailStatus":"NotSet","BillEmail":{"Address":"Diego@Rodriguez.com"},"Balance":0,"DepositToAccountRef":{"value":"4","name":"Undeposited
        Funds"}},{"domain":"QBO","sparse":false,"Id":"38","SyncToken":"0","MetaData":{"CreateTime":"2015-10-07T11:15:46-07:00","LastUpdatedTime":"2015-10-07T11:15:46-07:00"},"CustomField":[{"DefinitionId":"1","Name":"Crew
        #","Type":"StringType"}],"DocNumber":"1011","TxnDate":"2015-10-07","CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"Line":[{"Id":"1","LineNum":1,"Description":"Pest Control
        Services","Amount":87.50,"DetailType":"SalesItemLineDetail","SalesItemLineDetail":{"ItemRef":{"value":"10","name":"Pest
        Control"},"UnitPrice":35,"Qty":2.5,"TaxCodeRef":{"value":"NON"}}},{"Amount":87.50,"DetailType":"SubTotalLineDetail","SubTotalLineDetail":{}},{"Amount":8.75,"DetailType":"DiscountLineDetail","DiscountLineDetail":{"PercentBased":true,"DiscountPercent":10,"DiscountAccountRef":{"value":"86","name":"Discounts
        given"}}}],"TxnTaxDetail":{"TotalTax":0},"CustomerRef":{"value":"15","name":"Pye''s
        Cakes"},"CustomerMemo":{"value":"Thank you for your business and have a great
        day!"},"BillAddr":{"Id":"57","Line1":"Karen Pye","Line2":"Pye''s Cakes","Line3":"350
        Mountain View Dr.","Line4":"South Orange, NJ  07079","Lat":"40.7489277","Long":"-74.2609903"},"ShipAddr":{"Id":"15","Line1":"350
        Mountain View Dr.","City":"South Orange","CountrySubDivisionCode":"NJ","PostalCode":"07079","Lat":"40.7633073","Long":"-74.2426072"},"TotalAmt":78.75,"ApplyTaxAfterDiscount":false,"PrintStatus":"NotSet","EmailStatus":"NotSet","BillEmail":{"Address":"karen@pye.com"},"Balance":0,"PaymentMethodRef":{"value":"1","name":"Cash"},"DepositToAccountRef":{"value":"4","name":"Undeposited
        Funds"}},{"domain":"QBO","sparse":false,"Id":"17","SyncToken":"0","MetaData":{"CreateTime":"2015-10-06T15:12:39-07:00","LastUpdatedTime":"2015-10-06T15:12:39-07:00"},"CustomField":[{"DefinitionId":"1","Name":"Crew
        #","Type":"StringType"}],"DocNumber":"1008","TxnDate":"2015-09-14","CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"Line":[{"Id":"1","LineNum":1,"Description":"Custom Design","Amount":225.00,"DetailType":"SalesItemLineDetail","SalesItemLineDetail":{"ItemRef":{"value":"4","name":"Design"},"UnitPrice":75,"Qty":3,"TaxCodeRef":{"value":"NON"}}},{"Amount":225.00,"DetailType":"SubTotalLineDetail","SubTotalLineDetail":{}}],"TxnTaxDetail":{"TotalTax":0},"CustomerRef":{"value":"14","name":"Kate
        Whelan"},"CustomerMemo":{"value":"Thank you for your business and have a great
        day!"},"BillAddr":{"Id":"54","Line1":"Kate Whelan","Line2":"45 First St.","Line3":"Menlo
        Park, CA  94304 USA","Lat":"37.3813444","Long":"-122.1802812"},"ShipAddr":{"Id":"14","Line1":"45
        First St.","City":"Menlo Park","Country":"USA","CountrySubDivisionCode":"CA","PostalCode":"94304","Lat":"37.4585825","Long":"-122.1352789"},"TotalAmt":225.00,"ApplyTaxAfterDiscount":false,"PrintStatus":"NeedToPrint","EmailStatus":"NotSet","BillEmail":{"Address":"Kate@Whelan.com"},"Balance":0,"DepositToAccountRef":{"value":"35","name":"Checking"}},{"domain":"QBO","sparse":false,"Id":"11","SyncToken":"0","MetaData":{"CreateTime":"2015-10-06T14:59:48-07:00","LastUpdatedTime":"2015-10-06T14:59:48-07:00"},"CustomField":[{"DefinitionId":"1","Name":"Crew
        #","Type":"StringType"}],"DocNumber":"1003","TxnDate":"2015-10-04","CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"Line":[{"Id":"1","LineNum":1,"Description":"Custom Design","Amount":337.50,"DetailType":"SalesItemLineDetail","SalesItemLineDetail":{"ItemRef":{"value":"4","name":"Design"},"UnitPrice":75,"Qty":4.5,"TaxCodeRef":{"value":"NON"}}},{"Amount":337.50,"DetailType":"SubTotalLineDetail","SubTotalLineDetail":{}}],"TxnTaxDetail":{"TotalTax":0},"CustomerRef":{"value":"6","name":"Dylan
        Sollfrank"},"CustomerMemo":{"value":"Thank you for your business and have
        a great day!"},"BillAddr":{"Id":"49","Line1":"Dylan Sollfrank","Lat":"INVALID","Long":"INVALID"},"TotalAmt":337.50,"ApplyTaxAfterDiscount":false,"PrintStatus":"NotSet","EmailStatus":"NotSet","Balance":0,"PaymentMethodRef":{"value":"2","name":"Check"},"PaymentRefNum":"10264","DepositToAccountRef":{"value":"35","name":"Checking"}}],"startPosition":1,"maxResults":4},"time":"2016-03-28T08:58:09.802-07:00"}'
  recorded_at: Mon, 28 Mar 2016 15:58:10 GMT
recorded_with: VCR 2.9.3
