---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/query?query=SELECT%20*%20FROM%20vendor%20MAXRESULTS%205%20STARTPOSITION%201
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="76facbd75100d34f496550d64632fd67",
        oauth_signature="xX%2FMRcs6uhV0gc9z57SZ53Nc7mw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446676930", oauth_token="<ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - 8d05febd-b30f-49f6-af94-8ce86897598e
      Qbo-Version:
      - '1510.283'
    body:
      encoding: ASCII-8BIT
      string: '{"QueryResponse":{"Vendor":[{"Balance":0,"Vendor1099":false,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"56","SyncToken":"0","MetaData":{"CreateTime":"2015-10-23T14:28:52-07:00","LastUpdatedTime":"2015-10-23T14:28:52-07:00"},"DisplayName":"Bob''s
        Burger Joint","PrintOnCheckName":"Bob''s Burger Joint","Active":true},{"BillAddr":{"Id":"31","Line1":"15
        Main St.","City":"Palo Alto","CountrySubDivisionCode":"CA","PostalCode":"94303","Lat":"37.445013","Long":"-122.1391443"},"Balance":0,"AcctNum":"1345","Vendor1099":false,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"30","SyncToken":"0","MetaData":{"CreateTime":"2015-10-02T10:07:56-07:00","LastUpdatedTime":"2015-10-07T11:13:46-07:00"},"GivenName":"Bessie","FamilyName":"Williams","CompanyName":"Books
        by Bessie","DisplayName":"Books by Bessie","PrintOnCheckName":"Books by Bessie","Active":true,"PrimaryPhone":{"FreeFormNumber":"(650)
        555-7745"},"PrimaryEmailAddr":{"Address":"Books@Intuit.com"},"WebAddr":{"URI":"http://www.booksbybessie.co"}},{"BillAddr":{"Id":"32","Line1":"P.O.
        Box 5","City":"Middlefield","CountrySubDivisionCode":"CA","PostalCode":"94482","Lat":"43.8249453","Long":"-79.2639122"},"TaxIdentifier":"23-4569875","Balance":241.23,"AcctNum":"7653412","Vendor1099":true,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"31","SyncToken":"0","MetaData":{"CreateTime":"2015-10-02T10:12:02-07:00","LastUpdatedTime":"2015-10-06T15:28:48-07:00"},"GivenName":"Nick","FamilyName":"Brosnahan","CompanyName":"Brosnahan
        Insurance Agency","DisplayName":"Brosnahan Insurance Agency","PrintOnCheckName":"Brosnahan
        Insurance Agency","Active":true,"PrimaryPhone":{"FreeFormNumber":"(650) 555-9912"},"Mobile":{"FreeFormNumber":"(650)
        555-9874"},"Fax":{"FreeFormNumber":"(555) 123-4567"},"WebAddr":{"URI":"http://BrosnahanInsuranceAgency.org"}},{"BillAddr":{"Id":"33","Line1":"10
        Main St.","City":"Palo Alto","CountrySubDivisionCode":"CA","PostalCode":"94303","Lat":"37.445013","Long":"-122.1391443"},"TermRef":{"value":"1"},"Balance":0,"Vendor1099":false,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"32","SyncToken":"0","MetaData":{"CreateTime":"2015-10-02T10:13:24-07:00","LastUpdatedTime":"2015-10-09T12:55:23-07:00"},"CompanyName":"Cal
        Telephone","DisplayName":"Cal Telephone","PrintOnCheckName":"Cal Telephone","Active":true,"PrimaryPhone":{"FreeFormNumber":"(650)
        555-1616"}},{"Balance":0,"Vendor1099":false,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"33","SyncToken":"0","MetaData":{"CreateTime":"2015-10-02T10:13:52-07:00","LastUpdatedTime":"2015-10-02T10:13:52-07:00"},"CompanyName":"Chin''s
        Gas and Oil","DisplayName":"Chin''s Gas and Oil","PrintOnCheckName":"Chin''s
        Gas and Oil","Active":true}],"startPosition":1,"maxResults":5},"time":"2015-11-04T14:42:11.673-08:00"}'
  recorded_at: Wed, 04 Nov 2015 22:42:11 GMT
[...]
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/query?query=SELECT%20COUNT(*)%20FROM%20Vendor
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="37ae1302880e71b3ab5dfd60d8503986",
        oauth_signature="dH%2FXuVohMBe1conZEQ%2F%2BNrkM8zU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446733662", oauth_token="<ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - 42f1127c-5815-4e9a-acb6-e5f0893234f8
      Qbo-Version:
      - '1510.283'
    body:
      encoding: ASCII-8BIT
      string: '{"QueryResponse":{"totalCount":26},"time":"2015-11-05T06:27:43.230-08:00"}'
  recorded_at: Thu, 05 Nov 2015 14:27:43 GMT
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/query?query=SELECT%20*%20FROM%20Vendor%20MAXRESULTS%205%20STARTPOSITION%201
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="533154f1f3652964e0d31b18f045d723",
        oauth_signature="JKdAXRjclAK2OospY801j9%2BMvCU%3D", oauth_signature_method="HMAC-SHA1",
   [...]
[...]
