---
http_interactions:
- request:
    method: post
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/-COMPANY_ID-/invoice?operation=void
    body:
      encoding: UTF-8
      string: '{"Id":214,"SyncToken":"0"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer <OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Intuit-Upstream-Locality-Region:
      - us-west-2
      X-Spanid:
      - 4df03851-8f3d-1b47-094e-21b45aeb5ae2
      Intuit-Tid:
      - 1-6a5f7e47-13c0bf725c62f0c54e0c8a5c
    body:
      encoding: ASCII-8BIT
      string: '{"Invoice":{"AllowIPNPayment":false,"AllowOnlinePayment":true,"AllowOnlineCreditCardPayment":true,"AllowOnlineACHPayment":true,"domain":"QBO","sparse":false,"Id":"214","SyncToken":"1","MetaData":{"CreateTime":"2026-07-21T07:12:04-07:00","LastModifiedByRef":{"value":"9341457536842450"},"LastUpdatedTime":"2026-07-21T07:12:24-07:00"},"CustomField":[],"DocNumber":"1039","TxnDate":"2026-07-21","CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"PrivateNote":"Voided","LinkedTxn":[],"Line":[{"Id":"1","LineNum":1,"Description":"Test","Amount":0,"DetailType":"SalesItemLineDetail","SalesItemLineDetail":{"ItemRef":{"value":"25","name":"Hours"},"Qty":0,"ItemAccountRef":{"value":"121","name":"Services"},"TaxCodeRef":{"value":"NON"}},"CustomExtensions":[]},{"Amount":0,"DetailType":"SubTotalLineDetail","SubTotalLineDetail":{}}],"CustomerRef":{"value":"482","name":"Example
        Customer"},"CustomerMemo":{"value":"Thank you for your business and have a
        great day!"},"BillAddr":{"Id":"407"},"ShipAddr":{"Id":"407"},"FreeFormAddress":true,"DueDate":"2026-07-21","TotalAmt":0,"ApplyTaxAfterDiscount":false,"PrintStatus":"NeedToPrint","EmailStatus":"NotSet","Balance":0},"time":"2026-07-21T07:12:24.045-07:00"}'
  recorded_at: Tue, 21 Jul 2026 14:12:24 GMT
recorded_with: VCR 6.4.0
