---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/cdc?changedSince=2011-10-10T09:00:00-07:00&entities=estimate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer <OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Intuit-Tid:
      - 1-5f734c9d-204a81e60006ee1844b369cc
      X-Spanid:
      - '09885933-2726-45a8-9cc2-930c93af2849'
      Qbo-Version:
      - '1944.190'
      Service-Time:
      - total=269, db=80
    body:
      encoding: ASCII-8BIT
      string: '{"CDCResponse":[{"QueryResponse":[{"Estimate":[{"domain":"QBO","sparse":false,"Id":"48","SyncToken":"0","MetaData":{"CreateTime":"2015-10-07T11:42:38-07:00","LastUpdatedTime":"2015-10-07T11:43:20-07:00"},"CustomField":[{"DefinitionId":"1","Name":"Crew
        #","Type":"StringType"}],"DocNumber":"1001","TxnDate":"2015-10-05","CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"TxnStatus":"Closed","LinkedTxn":[{"TxnId":"49","TxnType":"Invoice"}],"Line":[{"Id":"1","LineNum":1,"Description":"Custom
        Design","Amount":300.00,"DetailType":"SalesItemLineDetail","SalesItemLineDetail":{"ItemRef":{"value":"4","name":"Design"},"UnitPrice":75,"Qty":4,"TaxCodeRef":{"value":"NON"}}},{"Id":"2","LineNum":2,"Description":"Installation
        of landscape design","Amount":250.00,"DetailType":"SalesItemLineDetail","SalesItemLineDetail":{"ItemRef":{"value":"7","name":"Installation"},"UnitPrice":50,"Qty":5,"TaxCodeRef":{"value":"NON"}}},{"Id":"3","LineNum":3,"Description":"Rock
        Fountain","Amount":275.00,"DetailType":"SalesItemLineDetail","SalesItemLineDetail":{"ItemRef":{"value":"5","name":"Rock
        Fountain"},"UnitPrice":275,"Qty":1,"TaxCodeRef":{"value":"NON"}}},{"Id":"4","LineNum":4,"Description":"Garden
        Rocks","Amount":180.00,"DetailType":"SalesItemLineDetail","SalesItemLineDetail":{"ItemRef":{"value":"13","name":"Rocks"},"UnitPrice":22.5,"Qty":8,"TaxCodeRef":{"value":"NON"}}},{"Amount":1005.00,"DetailType":"SubTotalLineDetail","SubTotalLineDetail":{}}],"TxnTaxDetail":{"TotalTax":0},"CustomerRef":{"value":"18","name":"Paulsen
        Medical Supplies"},"CustomerMemo":{"value":"Thank you for your business and
        have a great day!"},"BillAddr":{"Id":"67","Line1":"Kathy Paulsen","Line2":"Paulsen
        Medical Supplies","Line3":"900 Main St.","Line4":"Middlefield, CA  94303","Lat":"37.4530553","Long":"-122.1178261"},"ShipAddr":{"Id":"19","Line1":"38921
        S. Boise Ave","City":"Middlefield","CountrySubDivisionCode":"CA","PostalCode":"94304","Lat":"37.3989376","Long":"-122.1443935"},"TotalAmt":1005.00,"ApplyTaxAfterDiscount":false,"PrintStatus":"NeedToPrint","EmailStatus":"NeedToSend","BillEmail":{"Address":"Medical@intuit.com"},"DeliveryInfo":{"DeliveryType":"Email"}},{"domain":"QBO","sparse":false,"Id":"46","SyncToken":"0","MetaData":{"CreateTime":"2015-10-07T11:36:01-07:00","LastUpdatedTime":"2015-10-08T12:42:59-07:00"},"CustomField":[{"DefinitionId":"1","Name":"Crew
        #","Type":"StringType"}],"DocNumber":"1001","TxnDate":"2015-10-05","CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"TxnStatus":"Closed","LinkedTxn":[{"TxnId":"69","TxnType":"Invoice"}],"Line":[{"Id":"1","LineNum":1,"Description":"Pest
        Control Servic[...]
