---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/query?query=SELECT%20*%20FROM%20Customer%20WHERE%20DisplayName%20=%20%27Amy%5C%27s%20Bird%20Sanctuary%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer <OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - 550d47b9-813e-4074-2d35-a08dd95ef865
      Qbo-Version:
      - '1803.898'
      Service-Time:
      - total=597, db=653
    body:
      encoding: UTF-8
      string: '{"QueryResponse":{"Customer":[{"Taxable":true,"BillAddr":{"Id":"2","Line1":"4581
        Finch St.","City":"Bayshore","CountrySubDivisionCode":"CA","PostalCode":"94326","Lat":"INVALID","Long":"INVALID"},"ShipAddr":{"Id":"2","Line1":"4581
        Finch St.","City":"Bayshore","CountrySubDivisionCode":"CA","PostalCode":"94326","Lat":"INVALID","Long":"INVALID"},"Job":false,"BillWithParent":false,"Balance":239.00,"BalanceWithJobs":239.00,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"PreferredDeliveryMethod":"Print","domain":"QBO","sparse":false,"Id":"1","SyncToken":"0","MetaData":{"CreateTime":"2018-03-04T16:48:43-08:00","LastUpdatedTime":"2018-04-08T14:17:16-07:00"},"GivenName":"Amy","FamilyName":"Lauterbach","FullyQualifiedName":"Amy''s
        Bird Sanctuary","CompanyName":"Amy''s Bird Sanctuary","DisplayName":"Amy''s
        Bird Sanctuary","PrintOnCheckName":"Amy''s Bird Sanctuary","Active":true,"PrimaryPhone":{"FreeFormNumber":"(650)
        555-3311"},"PrimaryEmailAddr":{"Address":"Birds@Intuit.com"}}],"startPosition":1,"maxResults":1},"time":"2018-04-17T08:03:40.603-07:00"}'
  recorded_at: Tue, 17 Apr 2018 15:03:40 GMT
recorded_with: VCR 4.0.0
