---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/customer/60?minorversion=8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer <OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - b6d71d80-d910-4a66-41c9-f9621c94de38
      Qbo-Version:
      - '1803.898'
      Service-Time:
      - total=407, db=251
    body:
      encoding: ASCII-8BIT
      string: '{"Customer":{"Taxable":true,"Job":false,"BillWithParent":false,"Balance":0,"BalanceWithJobs":0,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"PreferredDeliveryMethod":"Print","domain":"QBO","sparse":false,"Id":"60","SyncToken":"1","MetaData":{"CreateTime":"2018-04-07T21:05:41-07:00","LastUpdatedTime":"2018-04-08T14:17:12-07:00"},"FullyQualifiedName":"Jack
        Doe","DisplayName":"Jack Doe","PrintOnCheckName":"Jack Doe","Active":true,"PrimaryPhone":{"FreeFormNumber":"(415)
        444-1234"},"DefaultTaxCodeRef":{"value":"2"}},"time":"2018-04-17T08:03:45.636-07:00"}'
  recorded_at: Tue, 17 Apr 2018 15:03:46 GMT
- request:
    method: post
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/customer?minorversion=8
    body:
      encoding: UTF-8
      string: '{"DisplayName":"Jack Doe","PrimaryPhone":{"FreeFormNumber":"(415) 444-1234"},"Id":"60","SyncToken":"1"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer <OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - 38f5c49b-f997-0789-0f53-e70fa4847882
      Qbo-Version:
      - '1803.898'
      Service-Time:
      - total=685, db=439
    body:
      encoding: ASCII-8BIT
      string: '{"Customer":{"Taxable":true,"Job":false,"BillWithParent":false,"Balance":0,"BalanceWithJobs":0,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"PreferredDeliveryMethod":"Print","domain":"QBO","sparse":false,"Id":"60","SyncToken":"2","MetaData":{"CreateTime":"2018-04-07T21:05:41-07:00","LastUpdatedTime":"2018-04-17T08:03:46-07:00"},"FullyQualifiedName":"Jack
        Doe","DisplayName":"Jack Doe","PrintOnCheckName":"Jack Doe","Active":true,"PrimaryPhone":{"FreeFormNumber":"(415)
        444-1234"},"DefaultTaxCodeRef":{"value":"2"}},"time":"2018-04-17T08:03:46.328-07:00"}'
  recorded_at: Tue, 17 Apr 2018 15:03:46 GMT
recorded_with: VCR 4.0.0
