---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/query?query=SELECT%20*%20FROM%20Customer
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - OAuth oauth_consumer_key="", oauth_nonce="b8771d5ef79477671275a6ce2665f869",
        oauth_signature="FPUMff8tHEBlRIky5%2BmKAxedPBA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446738610", oauth_token="<ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/xml
      Intuit-Tid:
      - gw-7f2e3235-2c28-43e0-8cf9-cd89f87e5a10
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <IntuitResponse time="2015-11-05T07:50:12.649-08:00" xmlns="http://schema.intuit.com/finance/v3">
            <Fault type="VALIDATION">
                <Error code="3202">
                    <Message>message=EmptyField; errorCode=003202; statusCode=400</Message>
                    <Detail>oauth_consumer_key</Detail>
                </Error>
            </Fault>
        </IntuitResponse>
  recorded_at: Thu, 05 Nov 2015 15:50:12 GMT
recorded_with: VCR 2.9.3
