---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/-COMPANY_ID-/reports/GeneralLedger
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer <OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Intuit-Tid:
      - 1-5f734f39-0ee64c7f0c957b72405d8b64
      X-Spanid:
      - 2b481535-db8f-42e2-860a-924394abd73f
      Qbo-Version:
      - '1944.190'
      Service-Time:
      - total=532, db=256
    body:
      encoding: ASCII-8BIT
      string: '{"Header":{"Time":"2020-09-29T08:14:02-07:00","ReportName":"GeneralLedger","DateMacro":"this
        month-to-date","ReportBasis":"Accrual","StartPeriod":"2020-09-01","EndPeriod":"2020-09-29","Currency":"USD","Option":[{"Name":"NoReportData","Value":"false"}]},"Columns":{"Column":[{"ColTitle":"Date","ColType":"tx_date"},{"ColTitle":"Transaction
        Type","ColType":"txn_type"},{"ColTitle":"Num","ColType":"doc_num"},{"ColTitle":"Name","ColType":"name"},{"ColTitle":"Memo/Description","ColType":"memo"},{"ColTitle":"Split","ColType":"split_acc"},{"ColTitle":"Amount","ColType":"subt_nat_amount"},{"ColTitle":"Balance","ColType":"rbal_nat_amount"}]},"Rows":{"Row":[{"Header":{"ColData":[{"value":"Checking","id":"35"},{"value":""},{"value":""},{"value":""},{"value":""},{"value":""},{"value":""},{"value":""}]},"Rows":{"Row":[{"ColData":[{"value":"Beginning
        Balance"},{"value":""},{"value":""},{"value":""},{"value":""},{"value":""},{"value":""},{"value":"976.00"}],"type":"Data"}]},"Summary":{"ColData":[{"value":"Total
        for Checking"},{"value":""},{"value":""},{"value":""},{"value":""},{"value":""},{"value":""},{"value":""}]},"type":"Section"},{"Header":{"ColData":[{"value":"Savings","id":"36"},{"value":""},{"value":""},{"value":""},{"value":""},{"value":""},{"value":""},{"value":""}]},"Rows":{"Row":[{"ColData":[{"value":"Beginning
        Balance"},{"value":""},{"value":""},{"value":""},{"value":""},{"value":""},{"value":""},{"value":"800.00"}],"type":"Data"}]},"Summary":{"C[...]
