---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/%2Fquery%3Fquery=SELECT%20*%20FROM%20Customer%20WHERE%20DisplayName%20=%20%22Amy's%20Bird%20Sanctuary%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="c47a97cd6a5ea7056cb83f52f131b70a",
        oauth_signature="7j1jp6jtQqb7ZF6ykF0mJGJ9%2BnA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446755861", oauth_token="<ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /v3/company/<COMPANY_ID>/query?query=SELECT * FROM Customer WHERE DisplayName = &quot;Amy's Bird Sanctuary&quot; was not found on this server.</p>
        </body></html>
  recorded_at: Thu, 05 Nov 2015 20:37:42 GMT
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/query?query=SELECT%20*%20FROM%20Customer%20WHERE%20DisplayName%20=%20%22Amy%27s%20Bird%20Sanctuary%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="f4ab5326c564d1be0a2f92e0df752d5a",
        oauth_signature="tRynfDQDfoLYj2AmQp%2BEa1KvbQw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446756099", oauth_token="<ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - 854c29ef-103c-4b85-aa72-9ee6fecf26cd
      Qbo-Version:
      - '1510.283'
    body:
      encoding: ASCII-8BIT
      string: '{"Fault":{"Error":[{"Message":"Error parsing query","Detail":"QueryParserError:
        Invalid content. Lexical error at line 1, column 44.  Encountered: \"\\\"\"
        (34), after : \"\"","code":"4000"}],"type":"ValidationFault"},"time":"2015-11-05T12:41:40.784-08:00"}'
  recorded_at: Thu, 05 Nov 2015 20:41:40 GMT
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/query?query=SELECT%20*%20FROM%20Customer%20WHERE%20DisplayName%20=%20%22Amy%5C%27s%20Bird%20Sanctuary%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="bfd09cfe6b00818ae276770bfa36a06f",
        oauth_signature="FqCnQGjGHrVZHfXLRCFAIIeIK8w%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446758600", oauth_token="<ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - 1d62f650-9e17-4f2c-89d7-7203cf813e56
      Qbo-Version:
      - '1510.283'
    body:
      encoding: ASCII-8BIT
      string: '{"Fault":{"Error":[{"Message":"Error parsing query","Detail":"QueryParserError:
        Invalid content. Lexical error at line 1, column 44.  Encountered: \"\\\"\"
        (34), after : \"\"","code":"4000"}],"type":"ValidationFault"},"time":"2015-11-05T13:23:21.633-08:00"}'
  recorded_at: Thu, 05 Nov 2015 21:23:21 GMT
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/query?query=SELECT%20*%20FROM%20Customer%20WHERE%20DisplayName%20=%20Amy%27s%20Bird%20Sanctuary%27Amys%20Bird%20Sanctuary%27s%20Bird%20Sanctuary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="f27d28d236db3aa478a10ae801c352b7",
        oauth_signature="wPtzAmTKCRtYy8gLXkpSxg9CVxQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446761681", oauth_token="<ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - 97b2ff0c-5735-4f28-9cf8-7715490c45bb
      Qbo-Version:
      - '1510.283'
    body:
      encoding: ASCII-8BIT
      string: '{"Fault":{"Error":[{"Message":"Error parsing query","Detail":"QueryParserError:
        Encountered \" <IDENTIFIER> \"Amy \"\" at line 1, column 44.\nWas expecting
        one of:\n    \"false\" ...\n    \"true\" ...\n    ","code":"4000"}],"type":"ValidationFault"},"time":"2015-11-05T14:14:42.946-08:00"}'
  recorded_at: Thu, 05 Nov 2015 22:14:43 GMT
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/query?query=SELECT%20*%20FROM%20Customer%20WHERE%20DisplayName%20=%20%5C%27Amy%5C%27s%20Bird%20Sanctuary%5C%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="f581536a13431f49f84fd5efaad1a114",
        oauth_signature="4kwlWDvahspVxvhXZxs1fGqQo1I%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446762225", oauth_token="<ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - c24bdec3-a3cf-44ce-88d6-942c3bf920b3
      Qbo-Version:
      - '1510.283'
    body:
      encoding: ASCII-8BIT
      string: '{"Fault":{"Error":[{"Message":"Error parsing query","Detail":"QueryParserError:
        Invalid content. Lexical error at line 1, column 44.  Encountered: \"\\\\\"
        (92), after : \"\"","code":"4000"}],"type":"ValidationFault"},"time":"2015-11-05T14:23:46.423-08:00"}'
  recorded_at: Thu, 05 Nov 2015 22:23:46 GMT
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/query?query=SELECT%20*%20FROM%20Customer%20WHERE%20DisplayName%20=%20%27Amy%5C%27s%20Bird%20Sanctuary%5C%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="cb27684f6fe27e20e6e64c1c1ca5e13d",
        oauth_signature="9%2FtE4XUIdCEoKjY3thG1A0oKloM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446762377", oauth_token="<ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - 79334812-77a0-4c9a-ab62-3ad2a8a774c9
      Qbo-Version:
      - '1510.283'
    body:
      encoding: ASCII-8BIT
      string: '{"Fault":{"Error":[{"Message":"Error parsing query","Detail":"QueryParserError:
        Invalid content. Lexical error at line 1, column 68.  Encountered: <EOF> after
        : \"\\''Amy\\\\\\''s Bird Sanctuary\\\\\\''\"","code":"4000"}],"type":"ValidationFault"},"time":"2015-11-05T14:26:19.216-08:00"}'
  recorded_at: Thu, 05 Nov 2015 22:26:19 GMT
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/query?query=SELECT%20*%20FROM%20Customer%20WHERE%20DisplayName%20=%20%27Amy%5C%5C%27s%20Bird%20Sanctuary%5C%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="75f272e82ec5679bd3d85391eb6f44c8",
        oauth_signature="KnXhwACLpfV41rkIS4FULu1LUfI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446762428", oauth_token="<ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - 8a28a09e-3da3-429d-8c55-d27f0e2d787c
      Qbo-Version:
      - '1510.283'
    body:
      encoding: ASCII-8BIT
      string: '{"Fault":{"Error":[{"Message":"Error parsing query","Detail":"QueryParserError:
        Encountered \" <IDENTIFIER> \"s \"\" at line 1, column 51.\nWas expecting
        one of:\n    <EOF> \n    <AND> ...\n    \"iterator\" ...\n    \"maxresults\"
        ...\n    <OR> ...\n    \"order\" ...\n    \"orderby\" ...\n    \"startposition\"
        ...\n    ","code":"4000"}],"type":"ValidationFault"},"time":"2015-11-05T14:27:09.800-08:00"}'
  recorded_at: Thu, 05 Nov 2015 22:27:09 GMT
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/query?query=SELECT%20*%20FROM%20Customer%20WHERE%20DisplayName%20=%20%27Amy%5C%5C%27s%20Bird%20Sanctuary%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="f88c1eca31f67db5da46d5495d8f3152",
        oauth_signature="PZKMafV6wG9z%2F4GU%2FpeFSAPb%2Fvw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446762465", oauth_token="<ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - da2dea9a-ecda-46f2-bb11-465c228d78cf
      Qbo-Version:
      - '1510.283'
    body:
      encoding: ASCII-8BIT
      string: '{"Fault":{"Error":[{"Message":"Error parsing query","Detail":"QueryParserError:
        Encountered \" <IDENTIFIER> \"s \"\" at line 1, column 51.\nWas expecting
        one of:\n    <EOF> \n    <AND> ...\n    \"iterator\" ...\n    \"maxresults\"
        ...\n    <OR> ...\n    \"order\" ...\n    \"orderby\" ...\n    \"startposition\"
        ...\n    ","code":"4000"}],"type":"ValidationFault"},"time":"2015-11-05T14:27:47.358-08:00"}'
  recorded_at: Thu, 05 Nov 2015 22:27:47 GMT
[...]
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/query?query=SELECT%20*%20FROM%20Customer%20WHERE%20DisplayName%20=%20%27Amys%20Bird%20Sanctuarys%20Bird%20Sanctuary%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="0a7e153ded13692dc0df135058dd0049",
        oauth_signature="3s63s9z8oo729q3qaCCUZcntwuw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446762718", oauth_token="<ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - 70faafee-832d-4a75-94b6-2d4dc9adfe85
      Qbo-Version:
      - '1510.283'
    body:
      encoding: ASCII-8BIT
      string: '{"QueryResponse":{},"time":"2015-11-05T14:32:00.043-08:00"}'
  recorded_at: Thu, 05 Nov 2015 22:32:00 GMT
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/query?query=SELECT%20*%20FROM%20Customer%20WHERE%20DisplayName%20=%20%27Amy%5C%27s%20Bird%20Sanctuary%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="25c36b8f05d48d4ae027a2598bc0bc99",
        oauth_signature="OLQ3Dy1iS0L3NLps6pmCd7agtWI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446762736", oauth_token="<ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - bfcb94b4-f9c1-4f3f-93b5-02990fe46796
      Qbo-Version:
      - '1510.283'
    body:
      encoding: ASCII-8BIT
      string: '{"QueryResponse":{"Customer":[{"Taxable":true,"BillAddr":{"Id":"2","Line1":"4581
        Finch St.","City":"Bayshore","CountrySubDivisionCode":"CA","PostalCode":"94326","Lat":"INVALID","Long":"INVALID"},"ShipAddr":{"Id":"2","Line1":"4581
        Finch St.","City":"Bayshore","CountrySubDivisionCode":"CA","PostalCode":"94326","Lat":"INVALID","Long":"INVALID"},"Job":false,"BillWithParent":false,"Balance":239.00,"BalanceWithJobs":239.00,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"PreferredDeliveryMethod":"Print","domain":"QBO","sparse":false,"Id":"1","SyncToken":"0","MetaData":{"CreateTime":"2015-10-01T16:48:43-07:00","LastUpdatedTime":"2015-11-05T07:12:28-08:00"},"GivenName":"Amy","FamilyName":"Lauterbach","FullyQualifiedName":"Amy''s
        Bird Sanctuary","CompanyName":"Amy''s Bird Sanctuary","DisplayName":"Amy''s
        Bird Sanctuary","PrintOnCheckName":"Amy''s Bird Sanctuary","Active":true,"PrimaryPhone":{"FreeFormNumber":"(650)
        555-3311"},"PrimaryEmailAddr":{"Address":"Birds@Intuit.com"}}],"startPosition":1,"maxResults":1},"time":"2015-11-05T14:32:18.348-08:00"}'
  recorded_at: Thu, 05 Nov 2015 22:32:18 GMT
recorded_with: VCR 2.9.3
