---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/query?query=SELECT%20COUNT(*)%20FROM%20Customer
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer <OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - fa7e8ff5-b254-a57e-e17a-2f8f4c96d4ce
      Qbo-Version:
      - '1803.898'
      Service-Time:
      - total=61, db=34
    body:
      encoding: UTF-8
      string: '{"QueryResponse":{"totalCount":37},"time":"2018-04-17T08:03:52.076-07:00"}'
  recorded_at: Tue, 17 Apr 2018 15:03:52 GMT
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/query?query=SELECT%20*%20FROM%20Customer%20MAXRESULTS%201000%20STARTPOSITION%201
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer <OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - 3c84bde0-0616-9b9f-ced2-5d3f10d77268
      Qbo-Version:
      - '1803.898'
      Service-Time:
      - total=73, db=41
    body:
      encoding: UTF-8
      string: '{"QueryResponse":{"Customer":[{"Taxable":true,"BillAddr":{"Id":"2","Line1":"4581
        Finch St.","City":"Bayshore","CountrySubDivisionCode":"CA","PostalCode":"94326","Lat":"INVALID","Long":"INVALID"},"ShipAddr":{"Id":"2","Line1":"4581
        Finch St.","City":"Bayshore","CountrySubDivisionCode":"CA","PostalCode":"94326","Lat":"INVALID","Long":"INVALID"},"Job":false,"BillWithParent":false,"Balance":339.00,"BalanceWithJobs":339.00,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"PreferredDeliveryMethod":"Print","domain":"QBO","sparse":false,"Id":"1","SyncToken":"0","MetaData":{"CreateTime":"2018-03-04T16:48:43-08:00","LastUpdatedTime":"2018-04-17T08:03:44-07:00"},"GivenName":"Amy","FamilyName":"Lauterbach","FullyQualifiedName":"Amy''s
        Bird Sanctuary","CompanyName":"Amy''s Bird Sanctuary","DisplayName":"Amy''s
        Bird Sanctuary","PrintOnCheckName":"Amy''s Bird Sanctuary","Active":true,"PrimaryPhone":{"FreeFormNumber":"(650)
        555-3311"},"PrimaryEmailAddr":{"Address":"Birds@Intuit.com"}},{"Taxable":true,"Job":false,"BillWithParent":false,"Balance":0,"BalanceWithJobs":0,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"PreferredDeliveryMethod":"Print","domain":"QBO","sparse":false,"Id":"58","SyncToken":"0","MetaData":{"CreateTime":"2018-04-07T21:01:45-07:00","LastUpdatedTime":"2018-04-07T21:01:45-07:00"},"FullyQualifiedName":"benjamin","DisplayName":"benjamin","PrintOnCheckName":"benjamin","Active":true},{"Taxable":false,"BillAddr":{"Id":"3[...]
