---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/query?query=SELECT%20COUNT(*)%20FROM%20Employee%20WHERE%20Active%20IN%20(true,%20false)%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer <OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - 29c294b0-cd10-dcf9-e957-244c59c763fe
      Qbo-Version:
      - '1803.898'
      Service-Time:
      - total=61, db=36
    body:
      encoding: UTF-8
      string: '{"QueryResponse":{"totalCount":2},"time":"2018-04-17T08:03:52.915-07:00"}'
  recorded_at: Tue, 17 Apr 2018 15:03:53 GMT
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/query?query=SELECT%20*%20FROM%20Employee%20WHERE%20Active%20IN%20(%20true,%20false%20)%20MAXRESULTS%201000%20STARTPOSITION%201
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer <OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - 800d732e-1dc1-2007-9a6c-c05e042784a4
      Qbo-Version:
      - '1803.898'
      Service-Time:
      - total=57, db=31
    body:
      encoding: UTF-8
      string: '{"QueryResponse":{"Employee":[{"BillableTime":false,"domain":"QBO","sparse":false,"Id":"55","SyncToken":"1","MetaData":{"CreateTime":"2018-03-10T11:21:48-08:00","LastUpdatedTime":"2018-04-08T14:17:18-07:00"},"GivenName":"Emily","FamilyName":"Platt","DisplayName":"Emily
        Platt (deleted)","PrintOnCheckName":"Emily Platt","Active":false},{"BillableTime":false,"HiredDate":"2018-02-09","domain":"QBO","sparse":false,"Id":"54","SyncToken":"1","MetaData":{"CreateTime":"2018-03-10T11:21:28-08:00","LastUpdatedTime":"2018-03-10T11:46:26-08:00"},"GivenName":"John","FamilyName":"Johnson","DisplayName":"John
        Johnson","PrintOnCheckName":"John Johnson","Active":true,"PrimaryPhone":{"FreeFormNumber":"(540)
        555-9645"}}],"startPosition":1,"maxResults":2},"time":"2018-04-17T08:03:53.372-07:00"}'
  recorded_at: Tue, 17 Apr 2018 15:03:53 GMT
recorded_with: VCR 4.0.0
