---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/query?query=SELECT%20COUNT(*)%20FROM%20Vendor
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer <OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - 4d160210-d967-d474-b11f-42ffb879791f
      Qbo-Version:
      - '1803.898'
      Service-Time:
      - total=39, db=21
    body:
      encoding: UTF-8
      string: '{"QueryResponse":{"totalCount":27},"time":"2018-04-17T08:03:53.742-07:00"}'
  recorded_at: Tue, 17 Apr 2018 15:03:53 GMT
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/query?query=SELECT%20*%20FROM%20Vendor%20MAXRESULTS%205%20STARTPOSITION%201
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer <OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - d651b2a7-b90e-be90-93fa-a00c2fb3a7de
      Qbo-Version:
      - '1803.898'
      Service-Time:
      - total=62, db=34
    body:
      encoding: UTF-8
      string: '{"QueryResponse":{"Vendor":[{"Balance":0,"Vendor1099":false,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"56","SyncToken":"0","MetaData":{"CreateTime":"2018-03-26T14:28:52-07:00","LastUpdatedTime":"2018-03-26T14:28:52-07:00"},"DisplayName":"Bob''s
        Burger Joint","PrintOnCheckName":"Bob''s Burger Joint","Active":true},{"BillAddr":{"Id":"31","Line1":"15
        Main St.","City":"Palo Alto","CountrySubDivisionCode":"CA","PostalCode":"94303","Lat":"37.445013","Long":"-122.1391443"},"Balance":0,"AcctNum":"1345","Vendor1099":false,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"30","SyncToken":"0","MetaData":{"CreateTime":"2018-03-05T10:07:56-08:00","LastUpdatedTime":"2018-03-10T11:13:46-08:00"},"GivenName":"Bessie","FamilyName":"Williams","CompanyName":"Books
        by Bessie","DisplayName":"Books by Bessie","PrintOnCheckName":"Books by Bessie","Active":true,"PrimaryPhone":{"FreeFormNumber":"(650)
        555-7745"},"PrimaryEmailAddr":{"Address":"Books@Intuit.com"},"WebAddr":{"URI":"http://www.booksbybessie.co"}},{"BillAddr":{"Id":"32","Line1":"P.O.
        Box 5","City":"Middlefield","CountrySubDivisionCode":"CA","PostalCode":"94482","Lat":"43.8249453","Long":"-79.2639122"},"Balance":241.23,"AcctNum":"7653412","Vendor1099":true,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"31","SyncToken":"0","MetaData":{"CreateTime":"2018-03-05T10:12:02-08:00","LastUpdatedTime":"2018-03-09T15:28:48-08:00"},"GivenName":"Nick","FamilyName":"Brosnahan","CompanyName":"Brosnahan
        Insurance Agency","DisplayName":"Brosnahan Insurance Agency","PrintOnCheckName":"Brosnahan
        Insurance Agency","Active":true,"PrimaryPhone":{"FreeFormNumber":"(650) 555-9912"},"Mobile":{"FreeFormNumber":"(650)
        555-9874"},"Fax":{"FreeFormNumber":"(555) 123-4567"},"WebAddr":{"URI":"http://BrosnahanInsuranceAgency.org"}},{"BillAddr":{"Id":"33","Line1":"10
        Main St.","City":"Palo Alto","CountrySubDivisionCode":"CA","PostalCode":"94303","Lat":"37.445013","Long":"-122.1391443"},"TermRef":{"value":"1"},"Balance":0,"Vendor1099":false,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"32","SyncToken":"0","MetaData":{"CreateTime":"2018-03-05T10:13:24-08:00","LastUpdatedTime":"2018-03-12T12:55:23-07:00"},"CompanyName":"Cal
        Telephone","DisplayName":"Cal Telephone","PrintOnCheckName":"Cal Telephone","Active":true,"PrimaryPhone":{"FreeFormNumber":"(650)
        555-1616"}},{"Balance":0,"Vendor1099":false,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"33","SyncToken":"0","MetaData":{"CreateTime":"2018-03-05T10:13:52-08:00","LastUpdatedTime":"2018-03-05T10:13:52-08:00"},"CompanyName":"Chin''s
        Gas and Oil","DisplayName":"Chin''s Gas and Oil","PrintOnCheckName":"Chin''s
        Gas and Oil","Active":true}],"startPosition":1,"maxResults":5},"time":"2018-04-17T08:03:54.100-07:00"}'
  recorded_at: Tue, 17 Apr 2018 15:03:54 GMT
[...]
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/query?query=SELECT%20*%20FROM%20Vendor%20MAXRESULTS%205%20STARTPOSITION%2026
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer <OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - 8f102498-8c6a-022c-1a11-90383b4cdaff
      Qbo-Version:
      - '1803.898'
      Service-Time:
      - total=53, db=30
    body:
      encoding: UTF-8
      string: '{"QueryResponse":{"Vendor":[{"Balance":0,"Vendor1099":false,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"52","SyncToken":"0","MetaData":{"CreateTime":"2018-03-05T10:43:57-08:00","LastUpdatedTime":"2018-03-05T10:43:57-08:00"},"Title":"Mr.","GivenName":"Tony","MiddleName":"L","FamilyName":"Rodonuwu","Suffix":"Jr.","DisplayName":"Tony
        Rondonuwu","PrintOnCheckName":"Tony Rondonuwu","Active":true,"PrimaryEmailAddr":{"Address":"tonyrjr@intuit.com"}},{"BillAddr":{"Id":"46","Line1":"5568
        Capital Drive","City":"Tucson","CountrySubDivisionCode":"AZ","PostalCode":"85718","Lat":"32.3389931","Long":"-110.9268201"},"Balance":0,"AcctNum":"00000111546","Vendor1099":false,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"53","SyncToken":"0","MetaData":{"CreateTime":"2018-03-05T10:46:00-08:00","LastUpdatedTime":"2018-03-05T10:46:00-08:00"},"DisplayName":"United
        States Treasury","PrintOnCheckName":"United States Treasury","Active":true,"PrimaryPhone":{"FreeFormNumber":"(888)
        555-6454"},"PrimaryEmailAddr":{"Address":"taxesaregreat@intuit.com"},"WebAddr":{"URI":"http://www.ustreasury.gov"}}],"startPosition":26,"maxResults":2},"time":"2018-04-17T08:03:56.043-07:00"}'
  recorded_at: Tue, 17 Apr 2018 15:03:56 GMT
recorded_with: VCR 4.0.0
