---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/<COMPANY_ID>/reports/GeneralLedger
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="188f214c8f23d5bd117d491072f38b64",
        oauth_signature="7%2BUbs9BMjZNOVnJfozZhCXvNCFI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1472854329", oauth_token="<ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Intuit-Tid:
      - gw-4bd205b1-b625-4d75-85b9-0fd8018eec8e
      Qbo-Version:
      - '1608.1630'
    body:
      encoding: UTF-8
      string: '{"Header":{"Time":"2016-09-02T15:12:10-07:00","ReportName":"GeneralLedger","DateMacro":"this
        month-to-date","ReportBasis":"Accrual","StartPeriod":"2016-09-01","EndPeriod":"2016-09-02","Currency":"USD","Option":[{"Name":"NoReportData","Value":"false"}]},"Columns":{"Column":[{"ColTitle":"Date","ColType":"tx_date"},{"ColTitle":"Transaction
        Type","ColType":"txn_type"},{"ColTitle":"Num","ColType":"doc_num"},{"ColTitle":"Name","ColType":"name"},{"ColTitle":"Memo/Description","ColType":"memo"},{"ColTitle":"Split","ColType":"split_acc"},{"ColTitle":"Amount","ColType":"subt_nat_amount"},{"ColTitle":"Balance","ColType":"rbal_nat_amount"}]},"Rows":{"Row":[{"Header":{"ColData":[{"value":"Checking","id":"35"},{"value":""},{"value":""},{"value":""},{"value":""},{"value":""},{"value":""},{"value":""}]},"Rows":{"Row":[{"ColData":[{"value":"Beginning
        Balance"},{"value":""},{"value":""},{"value":""},{"value":""},{"value":""},{"value":""},{"value":"976.00"}],"type":"Data"}]},"Summary":{"ColData":[{"value":"Total
        for Checking"},{"value":""},{"value":""},{"value":""},{"value":""},{"value":""},{"value":""},{"value":""}]},"type":"Section"},{"Header":{"ColData":[{"value":"Savings","id":"36"},{"value":""},{"value":""},{"value":""},{"value":""},{"value":""},{"value":""},{"value":""}]},"Rows":{"Row":[{"ColData":[{"value":"Beginning
        Balance"},{"value":""},{"value":""},{"value":""},{"value":""},{"value":""},{"value":""},{"value":"800.00"}],"type":"Data"}]},"Summary":{"C[...]
